<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <div class="bg-white text-black">
      <h5 class="q-ma-none text-bold">Ordini</h5>
      <div class="q-py-md q-gutter-y-sm">
        <div class="row max-width-100%">
          <q-input
            class="col col-md-8"
            style="max-width: 40%; margin-right: 10px"
            outlined
            color="black"
            dense
            debounce="300"
            v-model="filter"
            placeholder="Cerca un ordine"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </div>
    </div>

    <div class="q-py-md q-gutter-y-sm">
      <q-table
        table-header-class="bg-blue-grey-1 text-grey-8"
        :rows="ordini"
        class="doc-table"
        :columns="columns"
        :grid="$q.screen.xs"
        row-key="ordine_id"
        :filter="filter"
        :pagination="pagination">
        <template v-slot:body-cell-stato="props">
          <q-td :props="props">
            <div v-if="props.row.stato === null">
              <q-icon
                name="circle"
                class="text-grey"
                style="font-size: 16px; line-height: 0.8;" />
              richiesta di offerta
            </div>
            <div v-if="props.row.stato === 'E'">
              <q-icon
                name="circle"
                class="text-yellow"
                style="font-size: 16px; line-height: 0.8;" />
              in attesa di firma
            </div>
            <div v-if="props.row.stato === 'F'">
              <q-icon
                name="circle"
                class="text-orange"
                style="font-size: 16px; line-height: 0.8;" />
              firmato
            </div>
            <div v-if="props.row.stato === 'C'">
              <q-icon
                name="circle"
                class="text-green"
                style="font-size: 16px; line-height: 0.8;" />
              approvato da CRUI
            </div>
            <div v-if="props.row.stato === 'O'">
              <q-icon
                name="circle"
                class="text-primary"
                style="font-size: 16px; line-height: 0.8;" />
              ordine evaso
            </div>
            <div v-if="props.row.stato === 'S'">
              <q-icon
                name="circle"
                class="text-black"
                style="font-size: 16px; line-height: 0.8;" />
              offerta scaduta
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              size="11px"
              no-caps
              color="primary"
              label="Dettagli"
              @click="getDettagli(props.key)" />
          </q-td>
        </template>
      </q-table>
    </div>
    <dettaglio-ordini
      :dialog="showDettagli"
      :ordine_id="selectedId"
      @reset="reset()">
    </dettaglio-ordini>
  </div>
</template>

<script>
import { date } from 'quasar'
import DettaglioOrdini from '../../components/DettaglioOrdini.vue'

export default {
  name: 'PageOrdiniCrui',
  components: {
    DettaglioOrdini
  },
  data () {
    return {
      ordini: [],
      selectedId: 0,
      uploadUrl: null,
      sourceDetail: {},
      showDettagli: false,
      pagination: {
        sortBy: 'data_richiesta',
        descending: true,
        page: 1,
        rowsPerPage: 10
      },
      columns: [
        {
          name: 'ateneo',
          align: 'left',
          label: 'ENTE',
          field: 'ateneo',
          sortable: true
        },
        {
          name: 'ente',
          required: true,
          label: 'DIPARTIMENTO',
          align: 'left',
          field: 'ente',
          sortable: true
        },
        {
          name: 'utente',
          required: true,
          label: 'REFERENTE',
          align: 'left',
          field: 'utente',
          sortable: true
        },
        {
          name: 'codice',
          required: true,
          label: 'CODICE ORDINE',
          align: 'left',
          field: 'codice',
          sortable: true
        },
        {
          name: 'data_ordine',
          align: 'left',
          label: 'DATA RICHIESTA',
          field: 'data_ordine',
          format: val => date.formatDate(val, 'DD/MM/YY - HH:mm'),
          sortable: true
        },
        {
          name: 'stato',
          align: 'left',
          label: 'STATO',
          field: 'stato',
          sortable: true
        },
        {
          name: 'actions',
          align: 'right',
          label: 'AZIONI'
        }
      ],
      filter: '',
      show: false
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    setToggle (data) {
      if (data) {
        const nuovo = 'Nuovo'
        return nuovo
      } else {
        const chiuso = 'Chiuso'
        return chiuso
      }
    },
    getDettagli (id) {
      this.selectedId = id
      this.showDettagli = true
    },
    getData () {
      this.$api.get('crui/ordini/list')
        .then(results => { this.ordini = results })
        .catch(error => console.error('Errore lettura ordini!', error))
    },
    formatDate (val) {
      return date.formatDate(val, 'DD/MM/YY - HH:mm')
    },
    reset () {
      this.showDettagli = false
      this.getData()
    }
  }
}
</script>
