<!DOCTYPE html>
<html>
  <head>
    <title>Universamente</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/src/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/src/assets/img/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/src/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/src/assets/img/favicons/safari-pinned-tab.svg" color="#f06d0b">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
