{{{header}}}

<div class="space-bottom-2 html-text">
  <p>
    Abbiamo ricevuto una richiesta di recupero password.
  </p>
  <p>
    Per cambiare la tua password visita il seguente link:
  </p>
  <p style="text-align: center; height: 50px; margin-top: 50px;">
    <a class="button" style="margin-top: 20px; margin-bottom: 20px;" href="{{{host}}}/#/modifica-password/{{{token}}}">Cambia password</a>
  </p>
  <p>
    Se non hai eseguito tu la richiesta, ignora questa mail: la tua utenza non è stata modificata.
  </p>
  <p>
    Grazie.
  </p>
  <p>
    PS: il link indicato è valido per le prossime 24 ore.
  </p>
</div>

{{{footer}}}

