{{{header}}}

{{#messaggio}}
<div class="space-bottom-2 html-text text-center">{{{messaggio}}}</div>
{{/messaggio}}

<p style="text-align: center; margin-top: 20px;">
  <a class="button" href="{{{host}}}/#">Accedi alla piattaforma</a>
</p>

{{{footer}}}


