</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- footer sempre comune -->
<table class="row">
<tr>
<td class="wrapper last">
<table class="twelve columns">
<tr>
  <td class="center text-pad space-top email-footer">
    <!-- uso base64 per il logo -->
    <b>UniversaMente</b><br/>                                                            
  </td>
</tr>
</table>
</td>
</tr>
</table>                  
</td>
</tr>
</table>  
</center>
</td>
</tr>
</table>
</body>
</html>