<template> 
  <div class="row bg-white page-elevated q-ma-md">
    <div class="col-xs-12">
      <div class="row q-mb-lg">
        <div class="col-xs-12 col-md-12">
          <div class="row q-col-gutter-md">
            <div class="col-xs-12 col-md-6">
              <q-banner class="bg-amber-1 border-radius-2">
                <p class="q-px-md q-pt-md ">Si prega di notare che l'IA potrebbe occasionalmente generare risposte errate o inaspettate a causa di possibili allucinazioni. 
                Vi invitiamo a considerare questo fattore durante l'utilizzo della chat. 
                <br>Plurimedia non si assume alcuna responsabilità per risposte fallaci, ingannevoli, o pericolose che l'IA
                potrebbe fornire nel caso in cui un utente ponga domande al di fuori del contesto specifico di Universamente.</p>
              </q-banner>
            </div>
            <div class="col-xs-12 col-md-6 text-right q-mb-md">
              <q-banner class="bg-cyan-1 border-radius-2 q-mb-md">
                <p class="q-px-md q-pt-md ">Per assistenza scrivere a <a class="text-primary text-weight-bold" href="mailto:centroclienti@plurimedia.it">centroclienti@plurimedia.it</a></p>
              </q-banner>
              <div class="q-gutter-sm">
                <q-btn 
                  href="https://www.universamente.it/assets/files/universamente-guida-utente.pdf" 
                  target="_blank"
                  rounded 
                  color="primary" 
                  label="Scarica la guida in PDF" 
                  icon="article" />
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <q-card flat bordered class="chat-box q-pa-md">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <VuePdfEmbed :source="pdfSource" :page="page" />
              </div>
              <div class="col-xs-12 col-sm-6">
                <q-card class="chat-box q-pa-md">
                  <div class="column justify-between">
                    <div class="col chat-box-chat q-mb-lg">
                      <q-scroll-area
                        ref="chatArea"
                        @scroll="onScroll">
                        <div v-for="(message, index) in messages" :key="index">
                          <q-chat-message
                            :name="message.from === 'utente' ? 'Tu' : 'Chat AI'"
                            :avatar="message.avatar"
                            :text="[message.text]"
                            :sent="message.from === 'utente' ? true : false"
                            :bg-color="message.from === 'utente' ? 'teal-2' : 'grey-4'" />
                        </div>
                      </q-scroll-area>
                    </div>
                    <div class="col">
                      <q-spinner-dots v-if="waiting" color="grey-9" size="lg"/>
                      <q-form autofocus class="full-width" v-else>
                        <q-input
                          dense
                          outlined
                          placeholder="Chiedi qualcosa all'AI su Universamente"
                          v-model="currentQuestion">
                          <template v-slot:append>
                            <q-btn
                              type="submit"
                              dense
                              flat
                              round
                              icon="send"
                              @click="askQuestion()" />
                          </template>
                        </q-input>
                      </q-form>
                    </div>
                  </div>
                </q-card>
              </div>  
            </div>
          </q-card>
        </div>
        
      </div>

      </div>
    </div>    
</template>

<script setup>
import { ref } from 'vue'
import VuePdfEmbed from 'vue-pdf-embed'
import {api} from 'boot/api' //per usare le api dentro il script setup

// either URL, Base64, binary, or document proxy
const pdfSource = '/universamente-guida-utente.pdf'
const currentQuestion = ref('')
const messages = ref([{from: 'bot', avatar: '/icons/avatar-ai.png', text: 'Ciao! Chiedimi pure qualsiasi cosa riguardo a Universamente e al contratto CRUI - Red Hat, farò del mio meglio per rispondere'}])
const waiting = ref(false)
const chatArea = ref()

const page = ref(1)

const onScroll = (info) => {
  chatArea.value.setScrollPosition('vertical', info.verticalSize)
}

const askQuestion = () => {

  if (currentQuestion.value.trim() !== '') {
    messages.value.push({from: 'utente', avatar: '/icons/avatar-tu.png', text: currentQuestion.value})
    waiting.value = true

    api.post('help', {currentQuestion: currentQuestion.value})
      .then(response => {
        // Update the response in the component state
        messages.value.push({from: 'bot', avatar: '/icons/avatar-ai.png', text: response.content})
        page.value = response.references[0] ? response.references[0].pageNumber : 1
        currentQuestion.value = ''
        waiting.value = false
      })
      .catch(error => {
        console.error('Error:', error.message)
        waiting.value = false
      })

  } else {
    console.error('Question cannot be empty.')
  }
}
</script>

<style>
.vue-pdf-embed {
  margin: auto;
  max-width: 500px;
}

.vue-pdf-embed canvas {
  width: 100% !important;
  height: auto !important;
  border: 1px solid #e7e7e7;
}

@media screen and (max-width: 576px ) {
  .q-scrollarea {
    height: 50vh;
  }
  .chat-box {
    width: 96%;
  }
  .chat-box .column .chat-box-chat {
    height: 20%!important;
  }
}

.q-scrollarea {
    height: 50vh;
}

@media screen and (min-width: 1440px ) {
  .q-scrollarea {
    height: 65vh;
}
}
</style>
