<template>
  <q-page class="pg-login">
    <div class="login-container">
      <div class="login-form">
        <q-form @submit="login" class="text-center">
          <img class="logo-login" src="../assets/loghi/universamente.svg" />
          <h5 class="q-mb-lg">
            Area Riservata
          </h5>
          <q-input
            outlined
            v-model="mail"
            type="email"
            label="email"
            autofocus
            :rules="[val => !!val || 'Dato obbligatorio', isValidEmail]"
            class="q-mb-none">
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>
          <q-input
            outlined
            v-model="password"
            type="password"
            :rules="[val => !!val || 'Dato obbligatorio']"
            label="password"
            class="q-pb-none">
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
          </q-input>
          <div class="text-center q-mt-md q-mb-lg">
            <q-item class="link" to="/cambio-password" exact>Non ricordi la password?</q-item>
          </div>
          <q-btn
            color="primary"
            type="submit"
            label="Accedi"
            size="lg"
            no-caps
            class="q-mb-lg" />
          
          <div class="link-container q-mt-lg">
            <q-item class="link text-body1" to="/registrazione" exact>
              Non hai un account? REGISTRATI
            </q-item>
          </div>
        </q-form>
        <div class="privacy">
          <a class="text-dark" href="https://www.iubenda.com/privacy-policy/106637" target="_blank" title="Privacy Policy">Privacy Policy</a>
          •
          <a class="text-dark" href="https://www.iubenda.com/privacy-policy/106637/cookie-policy" target="_blank" title="Cookie Policy ">Cookie Policy</a>        
        </div>
      </div>
      <div class="login-image relative-position">
        <div class="login-image-logo">
          <img src="../assets/loghi/plurimedia-redhat.svg" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageHome',
  data () {
    return {
      mail: null,
      password: null
    }
  },
  methods: {
    login () {
      this.$api.post('auth/login', { username: this.mail, password: this.password })
        .then(data => {
          const _this = this
          setTimeout(function () {
            _this.$router.push({ name: 'ordiniCrui' })
          }, 1000)
        })
        // eslint-disable-next-line
        .catch(error => {
          this.$q.notify({
            message: 'Utente non riconosciuto o password errata!',
            color: 'red'
          })
        })
    },
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/
      return emailPattern.test(val) || 'Email non valida'
    }
  }
}
</script>

<style>
.pg-login {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.login-container {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}
.privacy {
  position: absolute;
  bottom: 1em;
  margin-left: 1.5em;
}
.login-image {
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-image: url('../assets/banner.jpg');
}
.login-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000008CC 5%, transparent 100%);
}
.login-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.login-form form {
  width: 100%;
  margin: 0 auto;
  max-width: 455px;
}
.logo-login  {
  max-width: 300px;
  padding-top: 2em;
}
.login-image-logo {
  position: absolute;
  top: 1em;
  left: calc(50% - 140px);
}
.login-image-logo img {
  width: 280px;
  padding: 1em;
}
.link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: underline;
}
.q-item {
  transition: none;
}
body.desktop .q-focusable:focus > .q-focus-helper, body.desktop .q-manual-focusable--focused > .q-focus-helper, body.desktop .q-hoverable:hover > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper {
  background: white!important;
  opacity: 0!important;
}
@media (max-width: 992px) {
  .login-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .login-form form {
    width: 90%;
  }
  .login-image-logo {
    position: absolute;
    top: 2em;
  }
}
@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
  .login-form form {
    width: 90%;
  }
  .login-image {
    width: 100%;
  }
  .login-image-logo {
    position: absolute;
    top: 2em;
  }
}
@media (max-width: 576px) {
  .login-inner {
    position: relative;
    justify-content: center;
  }
  .login-form {
    position: absolute;
    z-index: 2;
    background: #fff;
    padding: 3em 1em;
    left: 10%;
    max-width: 80%;
  }
  .login-form-logo {
    padding-top: 0em;
  }
  .login-image-logo {
    position: absolute;
    top: 2em;
    left: 33%;
  }
}
@media (max-width: 319px) {
  .login-form {
    position: absolute;
    z-index: 2;
    background: #fff;
    padding: 3em 1em;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
  }
  .login-form-fields {
    max-width: 320px;
  }
}
</style>
