<template>
  <q-page class="pg-login">
    <div class="login-container">

        <div class="login-form">
          <q-form @submit="login" class="text-center" autocomplete="off">
            <img class="logo-login" src="../assets/loghi/universamente.svg" />
            <h5 class="q-mb-lg">Registrati</h5>
            <q-input
              outlined
              v-model="nome"
              type="text"
              label="Nome completo *"
              autofocus
              class="q-mb-md">
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>
            </q-input>
            <q-input
              outlined
              v-model="mail"
              type="email"
              label="Email *"
              @blur="checkMail"
              class="q-mb-md">
              <template v-slot:prepend>
                <q-icon name="email" />
              </template>
            </q-input>
            <q-input
              outlined
              v-model="password"
              type="password"
              label="Password"
              class="q-mb-md">
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
            <q-select
              outlined
              option-value="ente_id"
              option-label="nome"
              v-model="ateneo"
              v-if="showAtenei"
              :options="atenei"
              label="Ateneo *"
              class="q-mb-md">
              <template v-slot:prepend>
                <q-icon name="school" />
              </template>
            </q-select>
            <q-chip class="q-mb-lg" v-if="!showAtenei && ateneo" icon="school">{{ateneo.nome}}</q-chip>
            <q-checkbox
              class="col col-md-8 text-caption text-left"
              dense
              v-model="privacy"
              label="Dichiaro di aver preso visione dell'informativa e acconsento al trattamento dei dati personali" />
            <div class="text-left q-ml-lg">
              <a
                href="https://www.iubenda.com/privacy-policy/106637"
                target="_blank"
                class="iubenda-nostyle no-brand text-caption iubenda-embed"
                title="Privacy Policy">
                Privacy Policy e Informativa
              </a>
            </div>
            <q-btn
              color="primary"
              label="Registrati"
              no-caps
              :disabled="!checkFields"
              type="submit"
              size="lg"
              class="q-mb-lg q-mt-xl" />
            <div class="link-container q-mt-lg">
              <q-item class="link text-body1" to="/" exact>
                Hai già un account? ACCEDI
              </q-item>
            </div>
          </q-form>
          <div class="privacy">
            <a
              class="text-dark"
              href="https://www.iubenda.com/privacy-policy/106637"
              target="_blank"
              title="Privacy Policy">
              Privacy Policy
            </a>
            •
            <a
              class="text-dark"
              href="https://www.iubenda.com/privacy-policy/106637/cookie-policy"
              target="_blank"
              title="Cookie Policy">
              Cookie Policy
            </a>        
          </div>
        </div>
        <div class="login-image relative-position">
          <div class="login-image-logo">
            <img src="../assets/loghi/plurimedia-redhat.svg" />
          </div>
        </div>
      </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageRegistrazione',
  data () {
    return {
      mail: null,
      nome: null,
      password: null,
      showAtenei: false,
      atenei: [],
      ateneo: null,
      privacy: false,
      newsletter: false
    }
  },
  mounted () {
    this.$api.get('enti/atenei')
      .then(data => { this.atenei = data })
      .catch(error => {
        this.$q.notify({
          message: 'Errore lettura Enti! ',
          color: 'red'
        })
        console.log(error)
      })
  },
  computed: {
    checkFields () {
      return (
        this.password &&
        this.nome &&
        this.mail &&
        this.ateneo &&
        this.ateneo.ente_id &&
        this.privacy
      )
    }
  },
  methods: {
    login () {
      this.$api.post('auth/registra', {
        username: this.mail,
        password: this.password,
        nome: this.nome,
        ateneo: this.ateneo.ente_id,
        newsletter: this.newsletter
      }).then(data => {
        this.$q.notify({
          message: 'Registrazione avvenuta con successo! Sarai abilitato da un amministratore. Riceverei una notifica via mail.',
          color: 'green'
        })
        this.mail = null
        this.nome = null
        this.password = null
        this.showAtenei = false
        this.ateneo = null
        this.privacy = false
      }).catch(error => {
        this.$q.notify({
          message: 'Errore Registrazione! Utente già registrato o in attesa di attivazione!',
          color: 'red'
        })
        console.log(error)
      })
    },
    checkMail () {
      this.showAtenei = false
      this.ateneo = null
      if (this.mail) {
        this.ateneo = this.atenei.find((a) => this.mail.indexOf('@' + a.codice + '.') > -1)

        if (!this.ateneo) this.showAtenei = true
      }
    }
  }
}
</script>

<style>
.pg-login {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.login-container {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}
.privacy {
  position: absolute;
  bottom: 1em;
  margin-left: 1.5em;
}
.login-image {
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-image: url('../assets/banner.jpg');
}
.login-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000008CC 5%, transparent 100%);
}
.login-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.login-form form {
  width: 100%;
  margin: 0 auto;
  max-width: 455px;
}
.logo-login  {
  max-width: 300px;
  padding-top: 2em;
}
.login-image-logo {
  position: absolute;
  top: 1em;
  left: calc(50% - 140px);
}
.login-image-logo img {
  width: 280px;
  padding: 1em;
}
.link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: underline;
}
.q-item {
  transition: none;
}
body.desktop .q-focusable:focus > .q-focus-helper, body.desktop .q-manual-focusable--focused > .q-focus-helper, body.desktop .q-hoverable:hover > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper {
  background: white!important;
  opacity: 0!important;
}
@media (max-width: 992px) {
  .login-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .login-form form {
    width: 90%;
  }
  .login-image-logo {
    position: absolute;
    top: 2em;
  }
}
@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
  .login-form form {
    width: 90%;
  }
  .login-image {
    width: 100%;
  }
  .login-image-logo {
    position: absolute;
    top: 2em;
  }
}
@media (max-width: 576px) {
  .login-inner {
    position: relative;
    justify-content: center;
  }
  .login-form {
    position: absolute;
    z-index: 2;
    background: #fff;
    padding: 3em 1em;
    left: 10%;
    max-width: 80%;
  }
  .login-form-logo {
    padding-top: 0em;
  }
  .login-image-logo {
    position: absolute;
    top: 2em;
    left: 33%;
  }
}
@media (max-width: 319px) {
  .login-form {
    position: absolute;
    z-index: 2;
    background: #fff;
    padding: 3em 1em;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
  }
  .login-form-fields {
    max-width: 320px;
  }
}
</style>

