<template>
  <q-page class="pg-login">
    <div class="login-container">
      <div class="login-inner">
        <div class="login-form">
          <q-form @submit="invia" class="text-center">
            <img class="logo-login" src="../assets/loghi/universamente.svg" />
            <h4 class="q-mb-lg">Recupera Password</h4>
            <q-input
              outlined
              v-model="mail"
              type="email"
              label="email"
              autofocus
              :rules="[val => !!val || 'Dato obbligatorio', isValidEmail]"
              class="q-mb-md">
              <template v-slot:prepend>
                <q-icon name="email" />
              </template>
            </q-input>
            <q-btn
              color="primary"
              type="submit"
              label="Invia"
              size="lg"
              no-caps
              class="q-mb-lg q-mt-lg" />
          </q-form>
        </div>
        <div class="login-image relative-position">
          <div class="login-loghi absolute-top q-pa-md">
              <img src="../assets/loghi/plurimedia.svg" style="max-width: 100px;" />
              <img class=" q-ml-md" src="../assets/loghi/redhat.svg" style="max-width: 100px;" />
          </div>
        </div>
      </div>
      <div class="link-container">
        <q-item class="link text-body1" to="/" exact>
          Torna alla pagina di LOGIN
        </q-item>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageResetPassword',
  data () {
    return {
      mail: null
    }
  },
  methods: {
    invia () {
      this.$api.post('auth/forgot-password', { email: this.mail })
        .then(data => {
          this.$q.notify({
            message: 'Ti abbiamo inviato un link per recuperare la password. Controlla la mail.',
            color: 'green'
          })
        })
        // eslint-disable-next-line
        .catch(error => {
          this.$q.notify({
            message: 'Utente non riconosciuto!',
            color: 'red'
          })
        })
    },
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/
      return emailPattern.test(val) || 'Email non valida'
    }
  }
}
</script>
<style>
.pg-login {
  width: 100%;
  margin: 0 auto;
}
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}
.login-inner {
  width: 1170px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}
.login-image {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.login-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}
.login-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 65px;
}
.login-form form {
  width: 70%;
  margin: 0 auto;
}
.logo-login {
  width: 100%;
  padding-top: 2em;
}
.link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: underline;
}
.link:hover,
.link:active {
}
.q-item {
  transition: none;
}
body.desktop .q-focusable:focus > .q-focus-helper, body.desktop .q-manual-focusable--focused > .q-focus-helper, body.desktop .q-hoverable:hover > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper {
  background: white!important;
  opacity: 0!important;
}
@media (max-width: 992px) {
  .login-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .login-image {
    width: 40%;
  }
  .login-form form {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
  .login-form form {
    width: 50%;
  }
  .login-image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .login-form {
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-form form {
    width: 90%;
  }
  .logo-login {
    padding-top: 0em;
  }
}
</style>
