<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <h5 class="q-ma-none q-mt-md text-weight-bold">Calcolo FTE</h5>
    <div class="text-subtitle1 q-ma-none">
      Compila la form con le informazioni richieste per conoscere il valore in FTE del tuo dipartimento o della tua scuola
    </div>
    <div class="q-py-md q-gutter-y-sm q-mt-md">
      <div id="q-app">
        <div class="">
          <q-stepper
            v-model="step"
            vertical
            color="primary"
            animated
          >
            <q-step
              :name="1"
              title="Dipartimento, Scuola o Servizio"
              icon="settings"
              :done="step > 1"
            >
            <div>
              <q-input outlined v-model="obj.ente" label="Nome" style="width:400px; margin-bottom: 20px;"/>
            </div>

              <span class="text-grey-7 text-italic">Inserisci il nome del dipartimento, scuola o servizio per cui stai facendo il calcolo</span>

              <q-stepper-navigation>
                <q-btn :disabled="!obj.ente" @click="step = 2" color="primary" label="Avanti"></q-btn>
              </q-stepper-navigation>
            </q-step>
            <q-step
              :name="2"
              title="Personale docente di ruolo, a contratto e ricercatori"
              icon="person"
              :done="step > 2"
            >
            <div>
              <q-input outlined v-model="obj.docfull" mask="####" label="Quantità in N." style="width:200px; margin-bottom: 20px;"/>
            </div>
            <span class="text-grey-7 text-italic">In questo conteggio includi:</span>
              <ul class="text-grey-7 text-italic">
                <li>i professori di prima e seconda fascia</li>
                <li>i ricercatori a tempo indeterminato e determinato</li>
                <li>i titolari di assegni di ricerca ed il personale docente a contratto.</li>
                <li>Il personale docente a contratto comprende tutti i professori cui sono stati conferiti incarichi di insegnamento per attività formative di base</li>
            </ul>

              <q-stepper-navigation>
                <q-btn :disabled="!obj.docfull" @click="step = 3" color="primary" label="Avanti"></q-btn>
                <q-btn flat @click="step = 1" color="primary" label="Indietro" class="q-ml-sm"></q-btn>
              </q-stepper-navigation>
            </q-step>

            <q-step
              :name="3"
              title="Personale non docente"
              icon="person"
              :done="step > 3"
            >
              <div>
                <q-input outlined v-model="obj.nondocfull" mask="####" label="Quantità in N." style="width:200px; margin-bottom: 20px;"/>
              </div>

              <span class="text-grey-7 text-italic">In questo conteggio includi:</span>
              <ul class="text-grey-7 text-italic">
                <li>i collaboratori linguistici</li>
                <li>i tecnici – amministrativi</li>
                <li>i dirigenti di prima e seconda fascia</li>
              </ul>
              <q-checkbox
                v-model="officialData"
                label="Dichiaro di aver inserito i dati ufficiali"
                />
              <q-stepper-navigation>
                 <q-btn
                :disabled="!checkFields"
                @click="calcolaFTE"
                color="primary"
                label="Calcola FTE">
                </q-btn>
                <q-btn flat @click="step = 2" color="primary" label="Indietro" class="q-ml-sm"></q-btn>
              </q-stepper-navigation>
            </q-step>
          </q-stepper>
        </div>
      </div>

      <div class="q-mt-lg">
        <h5 v-if="calcolatoFte" text-weight-bold class="q-ma-none text-weight-bold">
          Valore in FTE: {{valoreFTECalcolato}}
        </h5>
        <h5 v-if="calcolatoFte" text-weight-bold class="q-ma-none text-weight-bold">
          FTE da acquistare: {{valoreEffettivoFTE}}
          <q-btn flat color="primary" icon="info" style="position: relative; margin-top: -3px;">
            <q-tooltip style="font-size: 14px">
              Il pacchetto minino acquistabile è composto da 200 FTE.
            </q-tooltip>
          </q-btn>
        </h5>
      </div>
      <div>
        <q-btn
          v-if="resettable"
          @click="reset"
          color="primary"
          label="Ripeti il calcolo"
          class="q-mt-lg">
        </q-btn>
      </div>
      <div class="q-mt-md">
        <router-link class="linkClick" to="/user/info">Scrivici per maggiori informazioni</router-link>
      </div>
    </div>
    <div class="q-pa-md q-gutter-y-sm"></div>
  </div>
</template>

<script>
export default {
  name: 'PageCalcola',
  data () {
    return {
      step: 1,
      obj: {},
      resettable: false,
      // dialog: false,
      // dialogerr: false,
      calcolatoFte: false,
      officialData: false,
      disabledButton: true,
      valoreFTECalcolato: 0,
      valoreEffettivoFTE: 0
    }
  },
  computed: {
    checkFields () {
      return (
        this.obj.ente &&
        this.obj.docfull &&
        this.obj.nondocfull &&
        this.officialData)
    }
  },
  methods: {
    reset () {
      this.obj = {}
      this.step = 1
      this.calcolatoFte = false
      this.resettable = false
    },
    calcolaFTE () {
      const valoreFTE1 = parseInt(this.obj.docfull)
      const valoreFTE2 = parseInt(this.obj.nondocfull)
      this.valoreFTECalcolato = Math.round(valoreFTE1 + valoreFTE2)
      this.valoreEffettivoFTE = Math.ceil(this.valoreFTECalcolato / 200) * 200
      this.obj.fte_effettivo = this.valoreEffettivoFTE
      this.obj.fte_calcolato = this.valoreFTECalcolato
      this.step = 4
      this.calcolatoFte = true
      this.resettable = true

      this.$api.post('calcoli/salva', this.obj)
        .then(data => {
          this.officialData = false
        })
        .catch(e => {
          if (e.message === 'Richiesta non autorizzata.') {
            this.$q.notify({
              message: 'Errore! Sessione scaduta.',
              color: 'red'
            })
            this.$router.push({ name: 'home' })
          } else {
            this.$q.notify({
              message: 'Errore! Dati non salvati. ' + e,
              color: 'red'
            })
          }
        })
    }
  }
}
</script>
