<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md" v-if="acquistiAteneo">
    <h5 class="q-ma-none q-mt-md text-weight-bold">{{acquistiAteneo[0].ente}}</h5>
    <div class="row q-mt-xl">
      <div class="col-12 col-md-4">
        <div class="q-gutter-md">
          <q-card bordered class="my-card q-mb-xl">
            <q-card-section class="q-pb-none">
              <div class="text-right">
                <q-btn flat color="primary" icon="help">
                  <q-tooltip>
                    <p style="font-size: 14px!important;">
                      Il calcolo del valore in FTE del tuo ateneo è calcolato in automatico.<br>
                      Il calcolo si basa sulla fonte dati Anno 2019 presente nel portale del Ministero<br>
                      dell'Istruzione dell'Università e della Ricerca.
                    </p>
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-center q-pb-md">
                <span class="text-body1">Valore in FTE dell'ente</span><br>
                <span class="text-h5">{{acquistiAteneo[0].fte_ente}}</span>
              </div>
            </q-card-section>
            <q-separator />
            <q-card-section>
              <span class="text-subtitle2">FTE acquistati dall'Ente</span>
            </q-card-section>
            <q-card-section class="q-mt-none">
              <q-markup-table v-if="acquistiAteneo[0].acquisto_id" flat>
                <thead>
                  <tr>
                    <th class="text-left text-grey-7">FTE</th>
                    <th class="text-left text-grey-7">PRODOTTO</th>
                    <th class="text-left text-grey-7">SCADENZA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="acq in acquistiAteneo" :key="acq.acquisto_id">
                    <td class="text-left big-text">{{acq.fte}}</td>
                    <td class="text-left">
                      <q-tooltip>
                        <span v-html="acq.descrizione"></span>
                      </q-tooltip>
                      {{acq.prodotto}}
                    </td>
                    <td class="text-left">{{acq.scad}}</td>
                  </tr>
                </tbody>
              </q-markup-table>
              <div class="full-width" v-if="!acquistiAteneo[0].acquisto_id">
                <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
                  L'ente non ha ancora aderito al protocollo di intesa CRUI - RED HAT.
                </q-banner>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="q-pl-md-xl">
          <span class="text-h5">Dipartimenti</span>

          <div class="full-width q-mt-lg">
            <q-banner inline-actions rounded class="bg-light-blue-1 text-grey-8">
              In questa sezione è presente la lista dei Dipartimenti che hanno acquistato degli FTE.
            </q-banner>
          </div>

          <div class="full-width q-mt-lg" v-if="!dipart || !dipart.length">
            <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
              Non risultano ancora FTE acquistati da parte dei Dipartimenti
            </q-banner>
          </div>

          <div class="row q-mt-lg" v-for="dip in dipart" :key="dip.ente_id">
            <q-card bordered style="width: 100%">
              <q-card-section class="bg-grey-3">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <span class="text-subtitle1"><strong>{{dip.nome}}</strong></span>
                  </div>
                  <div class="col-12 col-md-7 text-right">
                    Valore in FTE: <strong>{{dip.fte}}</strong>
                  </div>
                </div>
              </q-card-section>
              <q-card-section v-if="dip.acquisti && dip.acquisti.length">
                <q-markup-table flat>
                  <thead>
                    <tr>
                      <th class="text-left text-grey-7">FTE</th>
                      <th class="text-left text-grey-7">PRODOTTO</th>
                      <th class="text-left text-grey-7">SCADENZA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="acq in dip.acquisti" :key="acq.acquisto_id">
                      <td class="text-left big-text">{{acq.fte}}</td>
                      <td class="text-left">
                        <q-tooltip>
                          <span v-html="acq.descrizione"></span>
                        </q-tooltip>
                        {{acq.prodotto}}
                      </td>
                      <td class="text-left">{{acq.scad}}</td>
                    </tr>
                  </tbody>
                </q-markup-table>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'PageDashboard',
  data () {
    return {
      loading: false,
      acquistiAteneo: null,
      dipart: null,
      prodotti: [],
      userInfo: {}
    }
  },
  created () {
    this.getUserInfo()
  },
  methods: {
    getUserInfo () {
      this.loading = true

      this.$api.get('auth/current-user')
        .then(data => {
          this.userInfo = data
          this.fetchData()
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore! Dati non disponibili. ' + error,
            color: 'red'
          })
          this.loading = false
        })
    },
    fetchData () {
      this.$api.get('enti/' + this.userInfo.ente_id)
        .then(data => {
          data.forEach((d) => {
            if (d.scadenza) {
              d.scad = date.formatDate(d.scadenza, 'DD/MM/YYYY')
              d.formattedScad = date.formatDate(d.scadenza, 'YYYY/MM/DD')
            } else {
              d.scad = null
              d.formattedScad = date.formatDate(Date.now(), 'YYYY/MM/DD')
            }
          })
          this.acquistiAteneo = data.filter((a) => a.ente_id === +this.userInfo.ente_id)
          const acquistiDipart = data.filter((a) => a.ente_id !== +this.userInfo.ente_id)
          const helper = {}
          this.dipart = acquistiDipart.reduce(function (r, o) {
            const key = o.ente_id + '-' + o.ente + '-' + o.fte_ente
            if (!helper[key]) {
              helper[key] = Object.assign({}, o) // create a copy of o
              r.push({ ente_id: o.ente_id, nome: o.ente, fte: o.fte_ente })
            }

            return r
          }, [])

          this.dipart.forEach(d => {
            d.acquisti = acquistiDipart.filter((a) => a.ente_id === d.ente_id && a.acquisto_id)
          })
          this.loading = false
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore! Dati non disponibili. ' + error,
            color: 'red'
          })
          this.loading = false
        })
    }
  }
}
</script>
<style>
.bg-amber-1b {
  background: #fef2cc;
}
.big-text {
  font-size: 22px!important;
  font-weight: 300;
  padding-top: 0px!important;
}
</style>
