<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <h5 class="q-ma-none q-mt-md text-weight-bold">Richiesta informazioni</h5>
    <div v-if="!helped" class="text-subtitle1 q-ma-none">
      Compila i campi obbligatori (*). Ti risponderemo nel più breve tempo possibile.
    </div>
    <div v-else class="text-body1 q-mt-xl">
      <q-banner class="bg-green-9 text-white">
        <p class="text-body1">Grazie per averci contattato. Ti risponderemo nel più breve tempo possibile.</p>
        <p class="text-body1 q-mb-none">Torna alla <router-link class="linkClick text-white" to="/user/dashboard">Dashboard</router-link></p>
      </q-banner>
    </div>
    <div v-if="!helped" class="q-py-md q-mt-lg">
      <div class="row">
        <div class="col-12 q-mb-md">
          <p><em>Seleziona i prodotti per i quali vuoi ricevere informazioni</em></p>
        </div>
        <div class="col-12 col-md-4 col-lg-5 q-mb-xl">
          <q-list bordered class="rounded-borders">
            <q-expansion-item class="title-software" :content-inset-level="0.5" expand-separator icon="terminal" label="Software">
              <q-scroll-area style="height: 435px;">
                <q-list v-for="el in prodotti" :key="el.prodotto_id">
                  <q-expansion-item :class="el.classe" v-if="el.classe === 'label-software'">
                    <template v-slot:header>
                      <q-item-section avatar>
                        <q-checkbox :val="el.prodotto_id" v-model="richiesta.prodotti" />
                      </q-item-section>
                      <q-item-section>
                        {{el.nome}}
                      </q-item-section>
                    </template>
                    <q-card>
                      <q-card-section>
                        <span v-html="el.descrizione2"></span>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>
                </q-list>
              </q-scroll-area>
            </q-expansion-item>
            <q-expansion-item class="title-education" :content-inset-level="0.5" expand-separator icon="school" label="Formazione">
              <q-scroll-area style="height: 435px;">
                <q-list v-for="el in prodotti" :key="el.prodotto_id">
                  <q-expansion-item :class="el.classe" v-if="el.classe === 'label-education'">
                    <template v-slot:header>
                      <q-item-section avatar>
                        <q-checkbox :val="el.prodotto_id" v-model="richiesta.prodotti" />
                      </q-item-section>
                      <q-item-section>
                        {{el.nome}}
                      </q-item-section>
                    </template>
                    <q-card>
                      <q-card-section>
                        <span v-html="el.descrizione2"></span>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>

                </q-list>
              </q-scroll-area>
            </q-expansion-item>
            <q-expansion-item class="title-consulting" :content-inset-level="0.5" expand-separator icon="person" label="Consulting">
              <q-scroll-area style="height: 435px;">
                <q-list v-for="el in prodotti" :key="el.prodotto_id">
                  <q-expansion-item :class="el.classe" v-if="el.classe === 'label-consulting'">
                    <template v-slot:header>
                      <q-item-section avatar>
                        <q-checkbox :val="el.prodotto_id" v-model="richiesta.prodotti" />
                      </q-item-section>
                      <q-item-section>
                        {{el.nome}}
                      </q-item-section>
                    </template>
                    <q-card>
                      <q-card-section>
                        <span v-html="el.descrizione2"></span>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>
                </q-list>
              </q-scroll-area>
            </q-expansion-item>
            <q-expansion-item class="title-corsi" :content-inset-level="0.5" expand-separator icon="menu_book" label="Corsi Red Hat">
              <q-list v-for="el in prodotti" :key="el.prodotto_id">
                <q-expansion-item :class="el.classe" v-if="el.classe === 'label-corsi'">
                  <template v-slot:header>
                    <q-item-section avatar>
                      <q-checkbox :val="el.prodotto_id" v-model="richiesta.prodotti" />
                    </q-item-section>
                    <q-item-section>
                      {{el.nome}}
                    </q-item-section>
                  </template>
                  <q-card>
                    <q-card-section>
                      <span v-html="el.descrizione2"></span>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
              </q-list>
            </q-expansion-item>
          </q-list>
        </div>
        <div class="col-12 col-md-8 col-lg-5 q-pl-md-xl">
          <div v-if="!helped">
            <q-form>
              <q-input
                outlined
                color="black"
                label="Dipartimento, Scuola o Servizio *"
                v-model="richiesta.ente"
                :rules="[
                  val => !!val || 'Dato obbligatorio',
                  val => val.length < 201 || 'Massimo 200 caratteri',
                ]"
                lazy-rules />
              <q-input
                class="q-mb-md"
                outlined
                color="black"
                label="Telefono"
                v-model="richiesta.telefono" />
              <p class="q-ma-none text-weight-bold">Messaggio<sup>*</sup> </p>
              <q-input
                class="q-mb-md"
                style="height: 120px;"
                type="textarea"
                outlined
                v-model="richiesta.testo"
                :rules="[
                  val => !!val || 'Dato obbligatorio',
                  val => val.length < 4001 || 'Massimo 4000 caratteri',
                ]"
                lazy-rules />
              <div class="q-mt-lg text-grey-9">
                <q-checkbox
                  label="Dichiaro di aver preso visione dell'informativa e acconsento al trattamento dei dati personali *"
                  v-model="privacy" />
                <a
                  class="text-grey-9"
                  style="margin-left: 40px;"
                  href="https://www.iubenda.com/privacy-policy/106637"
                  target="_blank"
                  title="Privacy Policy">
                  Privacy Policy e Informativa
                </a>
              </div>
              <q-btn
                class="q-mt-md"
                size="lg"
                color="primary"
                label="Invia messaggio"
                no-caps
                :disabled="!checkFields"
                @click="sendMsg"
              />
            </q-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { date } from 'quasar'
export default {
  name: 'PageInfo',
  data () {
    return {
      userInfo: {},
      uploads: [],
      newName: '',
      richiesta: { prodotti: [] },
      helped: false,
      selected: false,
      disabledButton: true,
      valoreFTE: '400',
      model: null,
      checked: false,
      privacy: false,
      prodotti: [],
      paginationFiles: {
        sortBy: 'data_upload',
        descending: true,
        page: 1,
        rowsPerPage: 10
      },
      columnsFiles: [
        {
          name: 'nome',
          label: 'DOCUMENTO',
          align: 'left',
          field: 'nome',
          sortable: true
        },
        {
          name: 'data_upload',
          label: 'DATA CARICAMENTO',
          align: 'right',
          field: 'data_upload',
          format: val => date.formatDate(val, 'DD/MM/YY - HH:mm'),
          sortable: true
        },
        {
          name: 'azioni',
          align: 'right',
          label: 'AZIONI'
        }
      ]
    }
  },
  created () {
    this.getUserInfo()
  },
  mounted () {
    this.getData()
  },
  computed: {
    checkFields () {
      return (
        this.richiesta.ente &&
        this.richiesta.testo &&
        this.privacy
      )
    }
  },
  methods: {
    getUserInfo () {
      this.$api.get('auth/current-user')
        .then(data => {
          this.userInfo = data
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore! Dati non disponibili. ' + error,
            color: 'red'
          })
        })
    },
    sendMsg () {
      this.$api.post('prodotti/save_richiesta', this.richiesta)
        .then(data => { this.helped = true })
    },
    getData () {
      this.$api.get('prodotti/prodotti')
        .then(results => { this.prodotti = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura prodotti! ' + error,
            color: 'red'
          })
        })
    }
  }
}
</script>
<style>
  .q-expansion-item__content .q-card__section:first-child p:last-child {
    margin-bottom: 0;
  }
  .title-software,
  .title-consulting,
  .title-education,
  .title-corsi {
    text-align: left;
    color: #000;
  }

  .title-software .q-item__label,
  .title-education .q-item__label,
  .title-consulting .q-item__label,
  .title-corsi .q-item__label {
    font-size: 18px;
    padding: .5em 0;
  }

  .q-item__section {
    color: #000
  }

  .title-software {
    background: #F0E3F4;
    border-bottom: 8px solid #CCA1D9;
  }
  .title-education {
    background: #B3CEDC;
    border-bottom: 8px solid #005C8B;
  }
  .title-consulting {
    background: #C1EBE9;
    border-bottom: 8px solid #31BCB4;
  }
  .title-corsi {
    background: #f0f5da;
    border-bottom: 8px solid #afcb37;
  }
  .label-software {
    background: #FAF6FB;
    border-bottom: 1px solid #d8d8d8;
  }
  .label-education {
    background: #E6EFF3;
  }
  .label-consulting {
    background: #EAF8F7;
  }
  .label-corsi {
    background: #fbfeea;
  }
</style>
