<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md" v-if="userInfo.fl_ordini">
    <div class="bg-white text-black" >
      <div class="row">
        <h5 class="q-ma-none text-bold">Offerte e Ordini</h5>
      </div>
      <div class="row q-mb-lg" style="text-align: right; float: right;">
        <q-btn
          size="12px"
          no-caps
          color="primary"
          label="Richiedi offerta"
          @click="insertOrder()" />
      </div>
      <div class="row q-mt-lg" style="clear: both;">
        <div class="col-12">
          <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
            Inserisci la richiesta d'offerta cliccando sul bottone Richiedi Offerta.<br>
            Successivamente ti invieremo la proposta di offerta.
            Per confermare l'offerta segui gli step nella pagina di dettaglio.
          </q-banner>
        </div>
      </div>
    </div>

    <div class="q-py-sm">
      <q-table
        table-header-class="bg-blue-grey-1 text-grey-8"
        :rows="ordini"
        class="doc-table"
        :columns="columns"
        :grid="$q.screen.xs"
        row-key="ordine_id"
        :pagination="pagination">
        <template v-slot:body-cell-stato="props">
          <q-td :props="props">
            <div v-if="props.row.stato === null">
              <q-icon
                name="circle"
                class="text-grey"
                style="font-size: 16px; line-height: 0.8;" />
              richiesta di offerta
            </div>
            <div v-if="props.row.stato === 'E'">
              <q-icon
                name="circle"
                class="text-yellow"
                style="font-size: 16px; line-height: 0.8;" />
              in attesa di firma
            </div>
            <div v-if="props.row.stato === 'F'">
              <q-icon
                name="circle"
                class="text-orange"
                style="font-size: 16px; line-height: 0.8;" />
              firmato
            </div>
            <div v-if="props.row.stato === 'C'">
              <q-icon
                name="circle"
                class="text-green"
                style="font-size: 16px; line-height: 0.8;" />
              approvato da CRUI
            </div>
            <div v-if="props.row.stato === 'O'">
              <q-icon
                name="circle"
                class="text-primary"
                style="font-size: 16px; line-height: 0.8;" />
              ordine evaso
            </div>
            <div v-if="props.row.stato === 'S'">
              <q-icon
                name="circle"
                class="text-black"
                style="font-size: 16px; line-height: 0.8;" />
              offerta scaduta
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              size="11px"
              no-caps
              color="primary"
              label="Dettagli"
              @click="getDettagli(props.key)" />
          </q-td>
        </template>
      </q-table>
    </div>

    <dettaglio-ordini
      :dialog="showDettagli"
      :ordine_id="selectedId"
      @reset="reset">
    </dettaglio-ordini>

    <nuovo-ordine
      :dialog="newOrder"
      :prodotti="prodotti"
      :ateneo="userInfo.ente_id"
      :dipartimenti="dipartimenti"
      :nome="userInfo.nome"
      :mail="userInfo.mail"
      :fte="infoEnte"
      @reset="reset"
      @save="salva">
    </nuovo-ordine>
  </div>
</template>

<script>
import { date } from 'quasar'
import DettaglioOrdini from '../../components/DettaglioOrdini.vue'
import NuovoOrdine from './NuovoOrdine.vue'

export default {
  name: 'PageOrdiniUtenti',
  components: {
    DettaglioOrdini,
    NuovoOrdine
  },
  data () {
    return {
      ordini: [],
      userInfo: [],
      infoEnte: [],
      dipartimenti: [],
      prodotti: [],
      selectedId: 0,
      showDettagli: false,
      newOrder: false,
      pagination: {
        sortBy: 'data_ordine',
        descending: true,
        page: 1,
        rowsPerPage: 10
      },
      columns: [
        {
          name: 'data_ordine',
          align: 'left',
          label: 'DATA RICHIESTA',
          field: 'data_ordine',
          format: val => date.formatDate(val, 'DD/MM/YY - HH:mm'),
          sortable: true
        },
        {
          name: 'ente',
          required: true,
          label: 'DIPARTIMENTO',
          align: 'left',
          field: 'ente',
          sortable: true
        },
        {
          name: 'stato',
          align: 'left',
          label: 'STATO',
          field: 'stato',
          sortable: true
        },
        {
          name: 'actions',
          align: 'right',
          label: 'AZIONI'
        }
      ]
    }
  },
  created () {
    this.getUserInfo()
  },
  mounted () {
    this.getOrdini()
  },
  methods: {
    insertOrder () {
      if (!this.dipartimenti || !this.dipartimenti.length) this.getDipartimenti()

      if (!this.prodotti || !this.prodotti.length) this.getProdotti()
      this.getFte()
      this.newOrder = true
    },
    reset () {
      this.showDettagli = false
      this.newOrder = false
      this.getOrdini()
    },
    salva (ordine) {
      this.$api.post('ordini/save', ordine)
        .then(() => {
          this.$q.notify({
            message: 'Registrazione Richiesta avvenuta con successo!',
            color: 'green'
          })
          this.reset()
          this.getOrdini()
        })
    },
    getUserInfo () {
      this.$api.get('auth/current-user')
        .then(data => { this.userInfo = data })
        .catch(error => {
          this.$q.notify({
            message: 'Errore! Dati non disponibili. ' + error,
            color: 'red'
          })
        })
    },
    getFte () {
      this.$api.get('enti/fte/' + this.userInfo.ente_id)
        .then(data => { this.infoEnte = data })
        .catch(error => {
          this.$q.notify({
            message: 'Errore! Dati non disponibili. ' + error,
            color: 'red'
          })
        })
    },
    getDettagli (id) {
      this.selectedId = id
      this.showDettagli = true
    },
    getOrdini () {
      this.$api.get('ordini/list')
        .then(results => {
          this.ordini = results
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura ordini! ' + error,
            color: 'red'
          })
        })
    },
    getDipartimenti () {
      this.$api.get('enti/' + this.userInfo.ente_id + '/dipartimenti')
        .then(results => { this.dipartimenti = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura dipartimenti! ' + error,
            color: 'red'
          })
        })
    },
    getProdotti () {
      this.$api.get('prodotti/prodotti')
        .then(results => { this.prodotti = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura prodotti! ' + error,
            color: 'red'
          })
        })
    },
    formatDate (val) {
      return date.formatDate(val, 'DD/MM/YY - HH:mm')
    }
  }
}
</script>
