<template> 
  <div class="row bg-white page-elevated q-ma-lg q-mt-xs">
    <div class="corso-banner" v-if="corso">
      <div :class="corso.class"></div>
      <q-btn
        fab
        :color="corso.color2"
        :icon="corso.icon"
        class="corso-icon-inner"
        style="cursor: auto" />
    </div>
    <div class="col-xs-12" v-if="corso">
      <div class="q-mt-md">« <a class="text-grey-8" href="/#/user/technical-overview">Torna all'elenco corsi</a></div>
      <h5 class="q-ma-none q-mt-sm text-weight-bold">{{corso.titolo}}</h5>
      <div class="row">
        <div class="col-md-6" v-html="corso.testo"></div>
        <div class="col-md-6 text-center">
          <q-card class="q-pa-lg" style="width: 400px; margin: 0 auto;">
            <p>Maggiori dettagli sul sito Red Hat:</p>
            <q-btn
              @click="track(corso.link)"
              target="_blank"
              :href="corso.link"
              color="grey-8">
              Iscriviti al Corso
            </q-btn>
          </q-card>
        </div>
      </div>
      <div class="row q-col-gutter-lg" v-if="corso.corsi_correlati?.length">
        <div class="col-xs-12">
          <div class="text-h6 q-mt-md">Corsi ed esami successivi consigliati</div>
          <p>Le <strong>Traning Unit</strong> utili a seguire i seguenti corsi possono essere acquistate tramite Universamente. Richiedi un'offerta inserendo la quantità che desideri. <br>
          In alternativa alle Traning Unit è possibile acquistare <strong>Red Hat® Learning Subscription</strong>, la quale offre un accesso illimitato ai contenuti di Red Hat Training.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3" v-for="(item, index) in corso.corsi_correlati" :key="index">
          <q-card class="my-card" bordered>
            <div :class="corso.class"></div>
            <q-card-section>
              <q-btn
                fab
                @click="track(item.link)"
                target="_blank"
                :href="item.link"
                :color="corso.color2"
                :icon="corso.icon"
                class="absolute corso-icon" />
              <div class="column" style="min-height: 210px">
                <div :class="'text-'+corso.color2" class="text-body1 text-weight-bold">
                  {{item.area}}
                </div>
                <div class="text-h6 card-title">{{item.titolo}}</div>
                <p class="q-mt-md q-mb-none text-grey-9 text-body2">{{item.description}}</p>
              </div>
            </q-card-section>
            <q-separator />
            <q-card-section>
              <p class="q-mb-none text-grey-9 text-body2">
                Training Unit necessarie per persona: 
                <q-chip :color="corso.color2" text-color="white">{{item.tu}}</q-chip>
              </p>
            </q-card-section>
            <q-separator />
            <q-card-actions class="q-mr-sm q-mb-sm q-mt-sm" align="center">
              <q-btn @click="track(item.link)" target="_blank" :href="item.link" :color="corso.color2">
                Dettagli del Corso
              </q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>

      <div class="q-my-xl"></div>

      <!-- <div class="row q-mt-md q-col-gutter-lg" v-if="corso.workbook?.length">
        <div class="col-xs-12 col-lg-6">
          <div class="text-h6 q-mt-md q-mb-sm">Workbook</div>
          <p v-html="corso.workbook_text" class="q-mb-lg"></p>
        </div>
        <div class="col-xs-12 col-lg-6"></div>
        <div class="col-xs-12 col-md-6 col-lg-3" v-for="(item, index) in corso.workbook" :key="index">
          <q-card class="my-card" bordered>
            <div class="corso-grey"></div>
            <q-card-section>
              <q-btn fab color="grey-8" icon="menu_book" class="absolute corso-icon" />
              <div class="row items-center">
                <div :class="'text-'+corso.color2" class="text-body1 text-weight-bold">
                  {{item.area}}
                </div>
                <div class="text-h6">{{item.titolo}}</div>
                <p class="q-mt-md q-mb-none text-grey-9 text-body2">{{item.description}}</p>
              </div>
            </q-card-section>
            <q-separator />
            <q-card-actions class="q-mr-sm q-mb-sm q-mt-sm" align="center">
              <q-btn target="_blank" :href="item.link" color="grey-8">
                Dettagli del Workbook
              </q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div> -->
    </div>
  </div>    
</template>

<script setup>
import { ref } from 'vue'
import { api } from 'boot/api'
import { useRoute } from 'vue-router'

const corso = ref()
const route = useRoute()

api.get('to/corso/' + route.params.code)
  .then(response => {
    corso.value = response
  })
  .catch(error => {
    console.error('Error:', error.message)
  })

const track = (url) => {
  api.post('click', { url: url, code: route.params.code })
    .then(() => {})
    .catch(() => {})
}
</script>

<style>
.card-title {
  line-height: 1.2;
}
.corso-banner {
  position: relative;
  width: 100%;
}
.corso-icon {
  top: 0; 
  right: 12px; 
  transform: translateY(-50%);
}
.corso-icon-inner {
  position: absolute;
  bottom: -50px; 
  right: 12px; 
  transform: translateY(-50%);
}
.corso-red {
  width: 100%; height: 100px;
  background-color: #fff3f3;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #d32f2f 0, #d32f2f 1px, #fff3f3 0, #fff3f3 50%);
}
.corso-blue {
  width: 100%; height: 100px;
  background-color: #d8ebf1;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #0084B1 0, #0084B1 1px, #d8ebf1 0, #d8ebf1 50%);
}
.corso-green {
  width: 100%; height: 100px;
  background-color: #def3df;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #388e3c 0, #388e3c 1px, #def3df 0, #def3df 50%);
}
.corso-purple {
  width: 100%; height: 100px;
  background-color: #ecd7f0;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #9c27b0 0, #9c27b0 1px, #ecd7f0 0, #ecd7f0 50%);
}
.corso-amber {
  width: 100%; height: 100px;
  background-color: #feeed9;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #ff8f00 0, #ff8f00 1px, #feeed9 0, #feeed9 50%);
}
.corso-grey {
  width: 100%; height: 100px; 
  background-color: #e6e6e6;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #696969 0, #696969 1px, #e6e6e6 0, #e6e6e6 50%);
}

</style>
