<template> 
  <div class="row bg-white page-elevated q-ma-lg q-mt-xs">
    <div class="corso-banner" v-if="corso">
      <div :class="corso.class"></div>
    </div>
    <div class="col-xs-12" v-if="corso">
      <div class="q-mt-md">« <a class="text-grey-8" href="/#/user/workbooks">Torna all'elenco workbooks</a></div>
      <h5 class="q-ma-none q-mt-sm text-weight-bold">{{corso.titolo}}</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12" v-html="corso.testo"></div>
          <div>Scopri tutti i dettagli e le soluzioni proposte scaricando il PDF completo.</div>
        </div>
        
        <div class="col-md-6 text-center">
          <q-card class="q-pa-lg" style="width: 400px; margin: 0 auto;">
            <p>Maggiori dettagli sul Workbook:</p>
            <q-btn
              @click="track(corso.link)"
              target="_blank"
              :href="corso.link"
              color="grey-8">
              Scarica il PDF Completo
            </q-btn>
          </q-card>
        </div>
      </div>

      <div class="q-my-xl"></div>
    </div>
  </div>    
</template>

<script setup>
import { ref } from 'vue'
import { api } from 'boot/api'
import { useRoute } from 'vue-router'

const corso = ref()
const route = useRoute()

api.get('wo/workbook/' + route.params.code)
  .then(response => {
    corso.value = response
  })
  .catch(error => {
    console.error('Error:', error.message)
  })

const track = (url) => {
  api.post('click', { url: url, code: route.params.code })
    .then(() => {})
    .catch(() => {})
}
</script>

<style>
.card-title {
  line-height: 1.2;
}
.corso-banner {
  position: relative;
  width: 100%;
}
.corso-icon {
  top: 0; 
  right: 12px; 
  transform: translateY(-50%);
}
.corso-icon-inner {
  position: absolute;
  bottom: -50px; 
  right: 12px; 
  transform: translateY(-50%);
}
.corso-red {
  width: 100%; height: 100px;
  background-color: #fff3f3;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #d32f2f 0, #d32f2f 1px, #fff3f3 0, #fff3f3 50%);
}
.corso-blue {
  width: 100%; height: 100px;
  background-color: #d8ebf1;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #0084B1 0, #0084B1 1px, #d8ebf1 0, #d8ebf1 50%);
}
.corso-green {
  width: 100%; height: 100px;
  background-color: #def3df;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #388e3c 0, #388e3c 1px, #def3df 0, #def3df 50%);
}
.corso-purple {
  width: 100%; height: 100px;
  background-color: #ecd7f0;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #9c27b0 0, #9c27b0 1px, #ecd7f0 0, #ecd7f0 50%);
}
.corso-amber {
  width: 100%; height: 100px;
  background-color: #feeed9;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #ff8f00 0, #ff8f00 1px, #feeed9 0, #feeed9 50%);
}
.corso-grey {
  width: 100%; height: 100px; 
  background-color: #e6e6e6;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #696969 0, #696969 1px, #e6e6e6 0, #e6e6e6 50%);
}
</style>
