<template>
  <div class="row bg-white page-elevated q-ma-lg q-mt-xs">
    <div class="col-xs-12">
      <h5 class="q-ma-none q-mt-md text-weight-bold">Workbooks Plurimedia</h5>
    </div>
    <div class="col-xs-12 col-md-8">
      <p>I Workbook sono progetti IT completi finalizzati al raggiungimento di determinati e prefissati obiettivi IT. Includono i costi delle distribuzioni Red Hat, giornate di consulenti Red Hat e Plurimedia, piani di formazione on the job per il personale tecnico dell’ente, corsi Red Hat e correlate certificazioni.</p>
    </div>
    <div class="col-xs-12">
      <div class="row q-col-gutter-lg q-mt-sm" v-if="corsi?.length">
        <div v-for="corso in corsi" :key="corso.code" class="col-xs-12 col-sm-6 col-lg-3">
          <q-card class="card-course" bordered>
            <div :class="corso.class"></div>
            <q-card-section>
              <!-- <q-btn
                fab
                @click="track(corso.code)"
                :to="{ name: 'workbook', params: { code: corso.code } }"
                :color="corso.color2"
                :icon="corso.icon"
                class="absolute corso-icon" /> -->
              <div class="column justify-start ">
                <div :class="'text-'+corso.color2" class="text-body1 text-weight-bold">
                  {{corso.area}}
                </div>
                <div class="card-title text-h6">{{corso.titolo}}</div>
                <p class="q-mt-md text-grey-9 text-body2">{{corso.sottotitolo}}</p>
              </div>
            </q-card-section>
            <q-card-actions class="card-btn q-mr-sm q-mb-sm" align="right">
              <q-btn
                @click="track(corso.code)"
                :to="{ name: 'workbook', params: { code: corso.code } }"
                :color="corso.color2">
                Scopri di più
              </q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { api } from 'boot/api'
const corsi = ref([])

api.get('wo')
  .then(response => {
    corsi.value = response
  })
  .catch(error => {
    console.error('Error:', error.message)
  })

const track = (code) => {
  api.post('click', { code })
    .then(() => {})
    .catch(() => {})
}
</script>

<style>
.card-course {
  min-height: 430px;
  position: relative;
}
.card-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-title {
  line-height: 1.2;
}
.corso-icon {
  top: 0;
  right: 12px;
  transform: translateY(-50%);
}
.corso-red {
  width: 100%; height: 100px;
  background-color: #fff3f3;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #d32f2f 0, #d32f2f 1px, #fff3f3 0, #fff3f3 50%);
}
.corso-blue {
  width: 100%; height: 100px;
  background-color: #d8ebf1;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #0084B1 0, #0084B1 1px, #d8ebf1 0, #d8ebf1 50%);
}
.corso-green {
  width: 100%; height: 100px;
  background-color: #def3df;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #388e3c 0, #388e3c 1px, #def3df 0, #def3df 50%);
}
.corso-purple {
  width: 100%; height: 100px;
  background-color: #ecd7f0;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #9c27b0 0, #9c27b0 1px, #ecd7f0 0, #ecd7f0 50%);
}
.corso-amber {
  width: 100%; height: 100px;
  background-color: #feeed9;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #ff8f00 0, #ff8f00 1px, #feeed9 0, #feeed9 50%);
}
.corso-grey {
  width: 100%; height: 100px;
  background-color: #e6e6e6;
  opacity: 0.4;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #696969 0, #696969 1px, #e6e6e6 0, #e6e6e6 50%);
}
</style>
