<template>
  <div>
    <q-dialog
      v-model="show"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down">
      <q-card-section class="bg-white text-black">
        <q-toolbar class="text-black bg-white">
          <q-toolbar-title>
            <span class="q-mr-md">Dettaglio Quotazione n. {{ordine.codice}} del {{ formatDate(ordine.data_ordine) }}</span>
            <q-chip v-if="ordine.stato === null" >richiesta di offerta</q-chip>
            <q-chip v-if="ordine.stato === 'E'" color="yellow">in attesa di firma</q-chip>
            <q-chip v-if="ordine.stato === 'F'" color="orange" text-color="white">firmato</q-chip>
            <q-chip v-if="ordine.stato === 'C'" color="green" text-color="white">approvato da CRUI</q-chip>
            <q-chip v-if="ordine.stato === 'O'" color="primary" text-color="white">ordine evaso</q-chip>
            <q-chip v-if="ordine.stato === 'S'" color="black" text-color="white">offerta scaduta</q-chip>
          </q-toolbar-title>
          <q-btn dense flat icon="close" v-close-popup @click="resetValue" />
        </q-toolbar>
        <q-separator />
        <q-card-section class="q-pt-xl">
           <div class="row">
            <div class="col-md-4">
              <span clasS="text-primary text-weight-bold">Informazioni Ente / Ateneo</span>
              <div class="q-mt-md">
                <p class="q-mb-xs"><strong>Ente:</strong> {{ ordine.ateneo }}</p>
                <p class="q-mb-xs"><strong>indirizzo:</strong> {{ ordine.indirizzo }}</p>
                <p class="q-mb-xs"><strong>Cap:</strong> {{ ordine.cap }}</p>
                <p class="q-mb-xs"><strong>Città:</strong> {{ ordine.citta }}</p>
                <p class="q-mb-xs"><strong>Provincia:</strong> {{ ordine.provincia }}</p>
                <p class="q-mb-xs"><strong>CF/Partita iva:</strong> {{ ordine.cf }}</p>
                <p class="q-mb-xs"><strong>Telefono:</strong> {{ ordine.telefono }}</p>
                <p class="q-mb-xs"><strong>Fax:</strong> {{ ordine.fax }}</p>
                <br>
                <p class="q-mb-xs"><strong>Dipartimento capofila:</strong> {{ ordine.ente }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <span clasS="text-primary text-weight-bold">Informazioni Red Hat
              </span>
              <div class="q-mt-md">
                <p class="q-mb-xs"><strong>Referente:</strong> {{ ordine.utente }}</p>
                <p class="q-mb-xs"><strong>Email:</strong> {{ ordine.mail }}</p>
                <br>
                <div v-for="el in ordine.enti" :key="el.ente_id">
                  <p class="q-mb-xs"><strong> {{ el.nome }} </strong>
                    <span v-if="el.account_rh && el.login_id"> ✅
                      <q-tooltip>
                        <span style="font-size: 12px!important;">Informazioni Account Red Hat COMPILATE</span>
                      </q-tooltip>
                    </span>
                    <span v-if="!el.account_rh && !el.login_id && userInfo.admin === 1"> ❌
                      <q-tooltip>
                        <span style="font-size: 12px!important;">Informazioni Account Red Hat MANCANTI</span>
                      </q-tooltip>
                    </span>
                  </p>
                </div>
                <q-btn v-if="userInfo.admin === 1"
                  color="primary"
                  dense
                  outline
                  no-caps
                  class="q-mt-sm"
                  label="vedi dettagli"
                  @click="editAccount()"
                />
                <p class="q-mt-lg"><strong>Privacy:</strong> <q-icon name="done" /> Accettata</p>
              </div>
            </div>
            <q-dialog v-model="showEdit" persistent>
              <q-card style="width: 400px">
                <q-card-section class="row items-center q-pb-md">
                  <div class="text-h6">Modifica dettagli</div>
                  <q-space />
                  <q-btn icon="close" flat round dense v-close-popup />
                </q-card-section>
                <q-card-section>
                  <q-form @submit="saveEdit">
                    <div class="q-mb-xl" v-for="el in ordine2.enti" :key="el.ente_id">
                      <div class="q-gutter-md">
                        <strong>{{el.nome}}</strong>
                        <q-input
                          outlined
                          color="black"
                          dense
                          class="q-mt-xs"
                          label="Red Hat Account"
                          lazy-rules
                          v-model="el.account_rh" />
                          <q-input
                            outlined
                            color="black"
                            dense
                            label="Login ID"
                            v-model="el.login_id" />
                            <q-radio class="q-mt-none" v-model="el.rinnovo" :val="true" label="Rinnovo" />
                            <q-radio class="q-mt-none" v-model="el.rinnovo" :val="false" label="Nuova Sottoscrizione" />
                       </div>
                      </div>
                    <q-btn
                      color="primary"
                      label="Salva"
                      no-caps
                      type="submit" />
                  </q-form>
                </q-card-section>
              </q-card>
            </q-dialog>
            <div class="col-md-4">
              <span clasS="text-primary text-weight-bold">Prodotti Richiesti</span>
              <div class="q-mt-md">
                <p class="q-mb-xs" v-for="prod in ordine.prodotti" :key="prod.prodotto">
                  <strong>{{prod.prodotto}}</strong>:
                  <span v-if="prod.classe!=='label-consulting'">
                    durata <span v-if="prod.periodo==='3'">3 anni</span><span v-else>1 anno</span> -
                  </span>
                  <strong><span v-if="prod.classe!=='label-consulting'">Quantità</span><span v-else>Giornate</span>:</strong> {{prod.qta}}
                </p>
              </div>
            </div>
          </div>
        </q-card-section>
        <q-separator />
        <br />
        <div class="row q-ma-md q-col-gutter-md">
          <div class="col-md-6">
            <div v-show="canUpload()">
              <p class="text-primary text-subtitle1"><strong>Area Upload</strong></p>
              <q-uploader
                class="col-sm-6 q-mt-sm"
                label="Carica file"
                icon="setting"
                :factory="getSignedUrl"
                :accept="fileTypes"
                send-raw
                ref="myUploader"
                style="height: 180px; width: 80%;"
                @uploaded="getDettagli()">
                <template v-slot:header="scope">
                  <div class="row no-wrap items-center q-pa-sm q-gutter-xs">
                    <q-btn
                      v-if="scope.queuedFiles.length > 0"
                      icon="clear_all"
                      @click="scope.removeQueuedFiles"
                      round
                      dense
                      flat>
                      <q-tooltip>Cancella tutti</q-tooltip>
                    </q-btn>
                    <q-btn
                      v-if="scope.uploadedFiles.length > 0"
                      icon="done_all"
                      @click="scope.removeUploadedFiles"
                      round
                      dense
                      flat>
                      <q-tooltip>Rimuovi file caricati</q-tooltip>
                    </q-btn>
                    <q-spinner
                      v-if="scope.isUploading"
                      class="q-uploader__spinner" />
                    <div class="col">
                      <div class="q-uploader__title">
                        Carica un file trascinandolo in questo riquadro
                      </div>
                      <div class="q-uploader__subtitle">
                        {{ scope.uploadSizeLabel }} / {{ scope.uploadProgressLabel }}
                      </div>
                    </div>
                    <q-btn
                      v-if="scope.canAddFiles"
                      type="a"
                      icon="add_box"
                      round
                      dense
                      flat>
                      <q-uploader-add-trigger />
                      <q-tooltip>Scegli file</q-tooltip>
                    </q-btn>
                    <q-btn
                      v-if="scope.canUpload"
                      icon="cloud_upload"
                      @click="scope.upload"
                      dense
                      flat>
                      <span class="q-ml-xs">Carica File</span>
                      <q-tooltip>Carica File</q-tooltip>
                    </q-btn>
                    <q-btn
                      v-if="scope.isUploading"
                      icon="clear"
                      @click="scope.abort"
                      round
                      dense
                      flat>
                      <q-tooltip>Annulla upload</q-tooltip>
                    </q-btn>
                  </div>
                </template>
              </q-uploader>
              <p class="q-mt-sm">
                <em>
                  Sono ammessi solo file con estensione
                  <strong v-if="userInfo.admin === 0">.p7m e .pdf</strong>
                  <strong v-else>.pdf</strong>
                </em>
              </p>
            </div>
            <q-card-section class="q-px-none">
              <p class="text-primary q-mb-md text-subtitle1"><strong>Documenti</strong></p>
              <q-markup-table v-if="ordine.documenti.length" style="max-width: 1000px;">
                <thead>
                  <tr>
                    <th class="text-left text-grey-7">FILE</th>
                    <th class="text-left text-grey-7">CARICATO DA</th>
                    <th class="text-left text-grey-7">DATA</th>
                    <th class="text-right text-grey-7">AZIONI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="doc in ordine.documenti" :key="doc.documento_id">
                    <td class="text-left">{{ doc.nome }}</td>
                    <td class="text-left">{{ doc.utente }}</td>
                    <td class="text-left">{{ formatDate (doc.data_upload) }}</td>
                    <td class="text-right">
                      <q-btn
                        size="12px"
                        no-caps
                        icon="download"
                        color="light-blue-10"
                        v-if="!doc.downloading"
                        @click="downloadFile(doc)">
                        Scarica file
                        <q-tooltip>Scarica file</q-tooltip>
                      </q-btn>
                      <q-spinner-ios
                        color="primary"
                        size="2em"
                        v-if="doc.downloading" />
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
              <q-btn
                class="q-mt-lg"
                v-if="userInfo.admin === 1 && (ordine.stato === 'C' || ordine.stato === 'O')"
                v-show="showButton"
                color="primary"
                no-caps
                label="Genera PDF ordine Tech Data"
                @click="exportPdf" />
              <q-spinner-ios
                color="primary"
                size="2em"
                v-show="showSpinner3" />
              <q-input
                style="width: 80%;"
                v-show="showPdfCrui"
                v-model="note_admin"
                label="Note"
                placeholder="Inserisci delle note (opzionale)"
                outlined
                type="textarea" />
              <q-btn
                v-show="showPdfCrui"
                class="q-mt-md"
                color="primary"
                no-caps
                label="Genera PDF offerta CRUI"
                @click="exportPdfOffertaCrui" />
              
              <q-spinner-ios
                color="primary"
                size="2em"
                v-show="showSpinner1" />
              <div class="full-width" v-if="!ordine.documenti.length && userInfo.admin === 0">
                <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
                  Abbiamo ricevuto la tua richiesta di offerta.<br>Verrai avvisato via mail quando sarà disponibile l'offerta in pdf in questa sezione.
                </q-banner>
              </div>
            </q-card-section>
            <br />
            <div v-if="userInfo.admin === 2 && ordine.stato !== 'O' && ordine.stato !== 'S'">
              L'ordine è corretto? Approvalo<br />
              <q-toggle
                label="Approvato"
                color="green"
                v-model="ordine.stato"
                true-value="C"
                false-value="F"
                :disable="disableToggle" />
              <br>
              <q-btn
                :disable="ordine.stato === 'F'"
                class="q-mt-lg"
                size="md"
                no-caps
                label="Salva"
                color="primary"
                @click="salva()" />
            </div>
            <div v-if="userInfo.admin === 1 && (ordine.stato === 'C' || ordine.stato === 'O')">
              L'ordine è stato evaso?<br />
              <q-toggle
                label="Evaso"
                color="green"
                v-model="ordine.stato"
                true-value="O"
                false-value="C"
                :disable="disableToggle1" />
              <br>
              <div v-if="ordine.data_evasione" >
                <a><strong> in data: {{ formatDate (ordine.data_evasione) }}</strong></a>
              </div>
              <q-btn
                :disable="ordine.stato === 'C'"
                class="q-mt-lg"
                size="md"
                no-caps
                label="Salva"
                color="primary"
                @click="salvaStato('O')" />
            </div>
            <div v-if="userInfo.admin === 1 && (ordine.stato === null || ordine.stato === 'E' || ordine.stato === 'S')">
              L'offerta è scaduta?<br />
              <q-toggle
                label="Scaduta"
                color="green"
                v-model="ordine.stato"
                true-value="S"
                :disable="ordine.stato === 'S'" />
              <br>
              <q-btn
                :disable="ordine.stato === 'C'"
                class="q-mt-lg"
                size="md"
                no-caps
                label="Salva"
                color="primary"
                @click="salvaStato('S')" />
            </div>
          </div>
          <!--<div class="col-md-5 offset-md-1" v-if="userInfo.admin === 0 && ordine.stato === 'E'" >
            <span class="text-primary text-subtitle1">
              <strong>Step per completare la procedura</strong>
            </span>
            <ol class="list-custom">
              <li>
                Scarica, visualizza e controlla l'offerta. Se intendi procedere con l'ordine vai al punto 2.
              </li>
              <li>
                Firma elettronicamente l'offerta
              </li>
              <li>
                Ricarica il PDF controfirmato nell'area Upload.<br>Ricordati di cliccare sul bottone Carica File.
              </li>
              <li>
                Riceverai notifica via mail quando l'ordine sarà processato.
              </li>
            </ol>
          </div>-->
          <div class="col-md-5 offset-md-1" v-if="userInfo.admin === 0 && ordine.stato === 'E'" >
            <span class="text-primary text-subtitle1">
              <strong>Step per completare la procedura</strong>
            </span>
            <ol class="list-custom">
              <li>
                Scarica il file nella tabella Documenti per visualizzare l'offerta.<br>Se accetti la nostra offerta passa al punto 2.
              </li>
              <li>
                <em>(Opzionale)</em> Puoi aggiungere delle note personali da visualizzare nel PDF dell'ordine.
                <div class="q-mt-md">
                  <textarea
                      class="c-textarea"
                      name="Note"
                      v-model="ordine.note"
                      cols="50"
                      rows="3"
                      placeholder="Es. n.ordine interno, riferimento, data, ecc">
                  </textarea>
                  <q-btn
                    class="c-mt-n1"
                    color="primary"
                    no-caps
                    label="Salva Note"
                    @click="saveNotes">
                  </q-btn>
                </div>
              </li>
              <li>
                Scarica il PDF dell'ordine
                <div class="q-mt-sm">
                  <q-btn
                    v-show="showButton"
                    color="light-blue-10"
                    no-caps
                    label="Download PDF ordine"
                    @click="exportPdfCrui">
                  </q-btn>
                  <q-spinner-ios
                    color="primary"
                    size="2em"
                    v-show="showSpinner2" />
                </div>
              </li>
              <li>
                Firma il PDF dell'ordine e ricaricalo nell'area Upload.<br>Ricordati di cliccare sul bottone Carica File.
              </li>
              <li>
                Riceverai notifica via mail quando l'ordine sarà processato.
              </li>
            </ol>
          </div>
        </div>
      </q-card-section>
    </q-dialog>
  </div>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'DettaglioOrdini',
  props: ['dialog', 'ordine_id'],
  data: () => ({
    show: null,
    note_admin: null,
    maximizedToggle: true,
    dati: [],
    showSpinner1: false,
    showSpinner2: false,
    showSpinner3: false,
    showButton: true,
    showEdit: false,
    userInfo: [],
    ordine: {},
    ordine2: {},
    approvato: true,
    disableToggle: false,
    disableToggle1: false,
    fileTypes: '.p7m, .pdf',
    uploadedFile: {}
  }),
  mounted () {
    this.getUserInfo()
    this.stato()
  },
  computed: {
    showDialog () {
      return this.dialog
    },
    showApprovato () {
      return this.stato
    },
    showPdfCrui () {
      return !!(this.showButton &&
                this.userInfo.admin === 1 &&
                this.ordine.stato === null)
    }
  },
  watch: {
    showDialog: function (val) {
      if (val) {
        this.getDettagli()
      } else {
        this.show = val
      }
    }
  },
  methods: {
    canUpload () {
      let flag = false
      if (this.ordine.stato === null) {
        if (this.userInfo.admin === 1) flag = true
      } else if (this.ordine.stato === 'E') {
        if (this.userInfo.admin === 0 || this.userInfo.admin === 1) flag = true
      } else if (this.ordine.stato === 'F') {
        if (this.userInfo.admin === 1) flag = true
      } else if (this.ordine.stato === 'C') {
        if (this.userInfo.admin === 1) flag = true
      } else if (this.ordine.stato === 'O') {
        if (this.userInfo.admin === 1) flag = true
      }
      return flag
    },
    stato () {
      if (this.ordine.stato === 'F') this.approvato = false
      else if (this.ordine.stato === 'C') this.approvato = true
      return this.approvato
    },
    editAccount () {
      this.ordine2 = JSON.parse(JSON.stringify(this.ordine))
      this.showEdit = true
    },
    saveEdit () {
      // this.ordine2.ordine_id = this.ordine_id
      this.$api.post('admin/ordini/aggiorna_ordine', this.ordine2.enti)
        .then(data => {
          this.getDettagli()
          this.showEdit = false
        })
    },
    saveNotes () {
      this.$api.post('ordini/aggiorna_note', this.ordine)
        .then(
          this.$q.notify({
            message: 'Note salvate',
            color: 'green'
          })
        )
        .catch(error => {
          this.$q.notify({
            message: 'Errore salvataggio dati! ' + error,
            color: 'red'
          })
        })
    },
    createBlobFileUrl (blob) {
      const urlCreator = window.URL || window.webkitURL
      return urlCreator.createObjectURL(blob)
    },
    generateFileLink (fileName, blobUrl) {
      const fileLink = document.createElement('a')

      fileLink.href = blobUrl
      fileLink.setAttribute('download', `${fileName}`)

      document.body.appendChild(fileLink)

      return fileLink
    },
    getBlobResults (fileContent, contentType) {
      const arrayBufferView = new Uint8Array(fileContent)
      return new Blob([arrayBufferView], { type: contentType })
    },
    downloadFile (elem) {
      elem.downloading = true
      this.$api.get('cos/get?filename=' + elem.cos_id)
        .then(signed => {
          this.$http.get(signed.url, { responseType: 'blob' }).then(response => {
            console.log(response)
            /* const blobResults = this.getBlobResults(response.Body.data, response.contentType)
            const blobFileUrl = this.createBlobFileUrl(blobResults)
            const fileLink = this.generateFileLink(elem.nome, blobFileUrl)

            elem.downloading = false
            fileLink.click() */
            const a = document.createElement('a')
            document.body.appendChild(a)
            a.style = 'display: none'

            const blob = response.data // new Blob([response.data], { type: 'application/pdf' });
            const url = window.URL.createObjectURL(blob)
            a.href = url
            a.download = elem.cos_id // response.config.params.filename;
            elem.downloading = false
            a.click()
            window.URL.revokeObjectURL(url)
          })
        })
    },
    async getSignedUrl (files) {
      const file = files[0]
      try {
        const data = await this.$api.post('cos/upload/' + this.ordine_id, {
          percorso: file.name,
          size: file.size,
          tipo: file.type
        })
        this.uploadedFile = Object.assign(file, { newName: data.name })

        return {
          url: data.url,
          method: 'PUT'
        }
      } catch (e) {
        console.error(e)
        return {}
      }
    },
    async getDettagli () {
      if (this.uploadedFile.name && this.uploadedFile.type) {
        const file = this.uploadedFile
        /* const data =  */await this.$api.post('cos/postupload/' + this.ordine_id, {
          percorso: file.name,
          newName: file.newName,
          size: file.size,
          tipo: file.type
        })

        this.uploadedFile = {}
      }

      this.$api.get('ordini/' + this.ordine_id)
        .then(data => {
          this.ordine = data
          this.uploadUrl = '/api/cos/upload/' + this.ordine_id
          this.show = true
        })
    },
    getUserInfo () {
      this.$api.get('auth/current-user')
        .then(data => {
          this.userInfo = data
          if (this.userInfo.admin === 1) this.fileTypes = '.pdf'
        })
        .catch(error => { console.log(error) })
    },
    resetValue () {
      this.$emit('reset')
      this.approvato = false
      // this.showChangeStato = false
    },
    formatDate (val) {
      return date.formatDate(val, 'DD/MM/YY - HH:mm')
    },
    formatDate2 (val) {
      return date.formatDate(val, 'DDMMYYYY')
    },
    salva () {
      this.$api.post('crui/ordini/aggiorna_ordine', { ordine_id: this.ordine_id })
        .then(data => {
          this.resetValue()
          this.disableToggle = true
          this.show = false
        })
    },
    salvaStato (stato) {
      this.$api.post('admin/ordini/aggiorna_stato', { ordine_id: this.ordine_id, stato: stato })
        .then(data => {
          this.resetValue()
          this.disableToggle1 = true
          // this.showChangeStato = false
        })
    },
    exportPdf () {
      this.showButton = false
      this.showSpinner3 = true
      this.$api
        .post('exportpdf/exportOrdine', this.ordine
        )
        .then(response => {
          const blobResults = this.getBlobResults(response.data.data, response.contentType)
          const blobFileUrl = this.createBlobFileUrl(blobResults)
          const fileLink = this.generateFileLink('Ordine acquisto TECHDATA.pdf', blobFileUrl)

          this.showSpinner3 = false
          this.showButton = true
          // ??window.URL.revokeObjectURL(url)
          fileLink.click()
        })
    },
    exportPdfCrui () {
      this.showButton = false
      this.showSpinner2 = true
      this.$api
        .post('exportpdf/exportOrdineCrui', this.ordine
        )
        .then(response => {
          const blobResults = this.getBlobResults(response.data.data, response.contentType)
          const blobFileUrl = this.createBlobFileUrl(blobResults)
          const fileLink = this.generateFileLink('Ordine ' + this.ordine.codice + '.pdf', blobFileUrl)

          this.showSpinner2 = false
          this.showButton = true
          // ??window.URL.revokeObjectURL(url)
          fileLink.click()
        })
    },
    exportPdfOffertaCrui () {
      this.showButton = false
      this.showSpinner1 = true
      this.ordine.note_admin = this.note_admin
      this.$api
        .post('exportpdf/exportOffertaCrui', this.ordine
        )
        .then(response => {
          const blobResults = this.getBlobResults(response.data.data, response.contentType)
          const blobFileUrl = this.createBlobFileUrl(blobResults)
          const fileLink = this.generateFileLink('Offerta ' + this.ordine.codice + '.pdf', blobFileUrl)

          this.showSpinner1 = false
          this.showButton = true
          // ??window.URL.revokeObjectURL(url)
          fileLink.click()
        })
    }
  }
}
</script>

<style scoped>
.c-textarea {
  border: none;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 1em;
}
.c-mt-n1 {
  margin-top: -2em;
  margin-left: 1em;
}
.list-custom {
  list-style: none;
  counter-reset: my-counter;
  margin-left: -2em;
}
.list-custom li {
  counter-increment: my-counter;
  margin-bottom: 2em;
  margin-left: 3em;
}
.list-custom li:before {
  content: counter(my-counter);
  background:#E72962;
  color: #fff;
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  padding: .5em;
  display: inline-block;
  text-align: center;
  margin-right: 0.5em;
  margin-left: -2.8em;
}
</style>
