<template>
  <div>
    <q-dialog
      v-model="show"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down">
      <q-card-section class="bg-white text-black">
        <q-toolbar class="text-black bg-white">
          <q-toolbar-title>
            {{ nomeAteneo }} - Storico Ordini Scaduti
          </q-toolbar-title>
          <q-btn dense flat icon="close" v-close-popup @click="resetValue">
          </q-btn>
        </q-toolbar>
        <q-separator />
        <br />
        <div class="row">
          <div class="col max-width: 100%">
            <q-tabs
              v-model="tab"
              narrow-indicator
              dense
              align="left"
              class="text-black">
              <q-tab v-if="source.length" :ripple="false" name="storicoEnti" label="Storico acquisti Ente" no-caps />
              <q-tab v-if="sourceDip.length" :ripple="false" name="storicoDipartimenti" label="Storico acquisti Dipartimenti" no-caps />
            </q-tabs>
            <br />
            <q-tab-panels v-model="tab">
              <q-tab-panel name="storicoEnti">
                <q-table
                  class="col col-md-10 user-table-details"
                  table-header-class="bg-blue-grey-1 text-grey-8"
                  :rows="source"
                  :columns="columnsEn"
                  :grid="$q.screen.xs"
                  :pagination="paginationEnt">
                </q-table>
              </q-tab-panel>
              <q-tab-panel name="storicoDipartimenti">
                <q-table
                  class="col col-md-10 user-table-details"
                  table-header-class="bg-blue-grey-1 text-grey-8"
                  :rows="sourceDip"
                  :columns="columnsDip"
                  :grid="$q.screen.xs"
                  :pagination="paginationDip">
                </q-table>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </div>
      </q-card-section>
    </q-dialog>
  </div>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'StoricoDialog',
  props: ['dialog', 'source', 'sourceDip', 'nomeAteneo'],
  data: () => ({
    tab: 'storicoEnti',
    show: null,
    maximizedToggle: true,
    dati: [],
    paginationDip: {
      sortBy: 'scadenza',
      descending: true,
      page: 1,
      rowsPerPage: 10
    },
    columnsEn: [
      {
        name: 'pacchetto',
        required: true,
        label: 'PACCHETTO',
        align: 'left',
        field: 'prodotto',
        sortable: true
      },
      {
        name: 'fte',
        align: 'left',
        label: 'FTE ACQUISTATI',
        field: 'fte',
        sortable: true
      },
      {
        name: 'scadenza',
        align: 'right',
        label: 'SCADUTI IL',
        field: 'scadenza',
        format: val => date.formatDate(val, 'DD/MM/YYYY HH:mm:ss'),
        sortable: true
      }
    ],
    paginationEnt: {
      sortBy: 'scadenza',
      descending: true,
      page: 1,
      rowsPerPage: 10
    },
    columnsDip: [
      {
        name: 'dipartimento',
        required: true,
        label: 'DIPARTIMENTO',
        align: 'left',
        field: 'ente',
        sortable: true
      },
      {
        name: 'pacchetto',
        required: true,
        label: 'PACCHETTO',
        align: 'left',
        field: 'prodotto',
        sortable: true
      },
      {
        name: 'fte',
        align: 'left',
        label: 'FTE ACQUISTATI',
        field: 'fte',
        sortable: true
      },
      {
        name: 'scadenza',
        align: 'right',
        label: 'SCADUTI IL',
        field: 'scadenza',
        format: val => date.formatDate(val, 'DD/MM/YYYY HH:mm:ss'),
        sortable: true
      }
    ]
  }),
  computed: {
    showDialog () {
      return this.dialog
    }
  },
  watch: {
    showDialog: function (val) {
      this.show = val
    }
  },
  methods: {
    resetValue () {
      this.$emit('reset')
    }
  }
}
</script>

<style>
.user-table-details .q-table tr td:first-child {
  width: 45%
}
</style>
