<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-black">
      <q-toolbar>
        <q-btn color="white" dense flat round icon="menu" @click="left = !left" />

         <q-toolbar-title>
          <router-link class="linkClick" to="/admin/enti">
            <img class="logo" src="../assets/loghi/universamente-lightwhite.svg"/>
          </router-link>
        </q-toolbar-title>

        <div class="user">
          <q-avatar flat color="white" text-color="grey-7" icon="person"></q-avatar>
          <q-btn-dropdown
            color="white"
            class="avatar-button"
            flat
            no-caps
            :label="userInfo.nome"
            style="margin-right:10px;"
          >
            <q-list>
              <q-item clickable @click="logout">
                <q-item-section>
                  <q-item-label>Esci</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>

      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="left" side="left" bordered class="bg-grey-2">
      <q-item class="q-mt-md" clickable to="/admin/enti">
        <q-item-section avatar>
          <q-icon name="dashboard" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Elenco enti</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable to="/admin/FTEcalcolati">
        <q-item-section avatar>
          <q-icon name="calculate" />
        </q-item-section>
        <q-item-section>
          <q-item-label>FTE calcolati</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable to="/admin/requests">
        <q-item-section avatar>
          <q-icon name="info" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Richieste ricevute</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable to="/admin/users">
        <q-item-section avatar>
          <q-icon name="person" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Utenti</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable to="/admin/ordini">
        <q-item-section avatar>
          <q-icon name="assignment" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Gestione offerte e ordini</q-item-label>
        </q-item-section>
      </q-item>

      <div class="user-mobile">
        <br><q-separator />
        <q-item>
          <q-avatar flat color="grey-5" text-color="grey-7" icon="person" class="q-mt-md"></q-avatar>
          <q-btn-dropdown
            color="black"
            class="avatar-button q-mt-md"
            flat
            no-caps
            :label="userInfo.nome"
            style="margin-right:10px;"
          >
            <q-list>
              <q-item clickable @click="logout">
                <q-item-section>
                  <q-item-label>Esci</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </q-item>
      </div>

      <q-item class="absolute-bottom">
          <img class="logo" src="../assets/loghi/plurimedia.svg" style="max-width: 60px;" />
      </q-item>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  name: 'AdminLayout',
  data () {
    return {
      left: false,
      userInfo: {},
      meetingData: {}
    }
  },
  mounted () {
    this.getUserInfo()
  },
  methods: {
    getUserInfo () {
      this.$api.get('auth/current-user')
        .then(data => { this.userInfo = data })
        .catch(error => { console.log(error) })
    },
    logout () {
      this.$api.get('auth/logout')
        .then(data => {
          const _this = this
          setTimeout(function () {
            _this.$router.push({ name: 'home' })
          }, 1000)
        })
        .catch(error => { console.log(error) })
    }
  }
}
</script>

<style>
.logo {
  height: 50px;
  margin-top: 10px;
}
.avatar {
  font-size: 30px;
}
.linkClick:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.user-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .user {
    display: none;
  }
  .user-mobile {
    display: block;
  }
}

</style>
