<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-black">
      <q-toolbar>
        <q-btn color="white" dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          <router-link class="linkClick" to="/crui/ordini">
            <img class="logo" src="../assets/loghi/universamente-lightwhite.svg"/>
          </router-link>
        </q-toolbar-title>

        <div class="user">
          <q-avatar flat color="white" text-color="grey-7" icon="person"></q-avatar>
          <q-btn-dropdown
            color="white"
            class="avatar-button"
            flat
            no-caps
            :label="userInfo.nome"
            style="margin-right:10px;">
            <q-list>
              <q-item clickable @click="logout">
                <q-item-section>
                  <q-item-label>Esci</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>

      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="left" side="left" bordered class="bg-grey-2">
      <q-item class="q-mt-md" clickable to="/crui/ordini">
        <q-item-section avatar>
          <q-icon name="assignment" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Gestione offerte e ordini</q-item-label>
        </q-item-section>
      </q-item>

      <div class="help-mobile">
        <q-separator />
      <q-item class="q-mb-md" clickable to="/user/Help">
        <q-item-section avatar>
          <q-icon name="phone" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Documentazione e Assistenza</q-item-label>
        </q-item-section>
      </q-item>
      </div>

      <div class="user-mobile">
        <br><q-separator />
        <q-item>
          <q-avatar flat color="grey-5" text-color="grey-7" icon="person" class="q-mt-md"></q-avatar>
          <q-btn-dropdown
            color="black"
            class="avatar-button q-mt-md"
            flat
            no-caps
            :label="userInfo.nome"
            style="margin-right:10px;">
            <q-list>
              <q-item clickable @click="logout">
                <q-item-section>
                  <q-item-label>Esci</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </q-item>
      </div>
      <q-dialog v-model="showHelp" persistent square>
      <!--q-card class="q-pa-sm">
        <q-card-section>
          <div class="row">
            <div class="text-h6">Richiesta di assistenza</div>
            <q-space />
            <q-btn class="close-button" icon="close" flat round dense v-close-popup />
          </div>
          <div class="text-subtitle2 text-blue-grey-8">
            Clicca sul pulsante per avviare una chiamata Zoom
          </div>
        </q-card-section>

        <q-card-section>
          <p style="text-align: center; margin-top: 20px;">
          <q-btn type="a" color="primary" :href="meetingData.join_url" target="_blank">Avvia chiamata Zoom</q-btn>
        </p>
        </q-card-section>
      </q-card-->
    </q-dialog>

      <q-item class="absolute-bottom">
        <img class="logo" src="../assets/loghi/plurimedia.svg" style="max-width: 60px;" />
      </q-item>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  name: 'CruiLayout',
  data () {
    return {
      left: false,
      userInfo: {},
      showHelp: false,
      meetingData: {}
    }
  },
  mounted () {
    this.getUserInfo()
  },
  methods: {
    show () {
      this.showHelp = true
      this.zoomCall()
    },
    zoomCall () {
      this.$api.get('zoom/get')
        .then(data => {
          this.meetingData = data
        })
        .catch(error => { console.log(error) })
    },
    getUserInfo () {
      this.$api.get('auth/current-user')
        .then(data => { this.userInfo = data })
        .catch(error => { console.log(error) })
    },
    logout () {
      this.$api.get('auth/logout')
        .then(data => {
          const _this = this
          setTimeout(function () {
            _this.$router.push({ name: 'home' })
          }, 1000)
        })
        .catch(error => { console.log(error) })
    }
  }
}
</script>

<style>
.logo {
  height: 50px;
  margin-top: 10px;
}
.avatar {
  font-size: 30px;
}
.linkClick:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.user-mobile, .help-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .user, .help {
    display: none;
  }
  .user-mobile, .help-mobile {
    display: block;
  }
  .help-mobile span {
    font-weight: 400;
    font-size: 14px;
  }
  .help-mobile i {
    margin-right: 1.4em;
  }
}
</style>
