<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <div class="bg-white text-black">
      <h5 class="q-ma-none text-bold">Elenco Enti</h5>
      <div class="q-pt-md q-gutter-y-sm">
        <div class="row max-width-100%">
          <q-input
            class="col col-md-8"
            style="max-width: 40%; margin-right: 10px"
            outlined
            color="black"
            dense
            debounce="300"
            v-model="filter"
            placeholder="Cerca Ente">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </div>
    </div>
    <div class="q-py-md q-gutter-y-sm">
      <q-table
        table-header-class="bg-blue-grey-1 text-grey-8"
        :rows="atenei"
        :columns="columns"
        row-key="ente_id"
        :filter="filter"
        :pagination="pagination">
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              size="11px"
              no-caps
              color="primary"
              label="Dettaglio"
              @click="dettaglio(props.key)" />
          </q-td>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageElenco',
  data () {
    return {
      atenei: [],
      selected: null,
      filter: null,
      pagination: {
        sortBy: 'nome',
        descending: true,
        page: 1,
        rowsPerPage: 10,
        show: false,
        sourceDetail: [],
        detailName: null
      },
      columns: [
        {
          name: 'ente',
          align: 'left',
          label: 'UNIVERSITA',
          field: 'nome',
          sortable: true
        },
        {
          name: 'fte',
          align: 'left',
          label: 'VALORE IN FTE',
          field: 'fte',
          sortable: true
        },
        {
          name: 'totfte',
          align: 'left',
          label: 'FTE ACQUISTATI',
          field: 'totfte',
          sortable: true
        },
        {
          name: 'ndip',
          align: 'left',
          label: 'N. DIPARTIMENTI',
          field: 'ndip',
          sortable: true
        },
        {
          name: 'actions',
          align: 'right',
          label: 'AZIONI'
        }
      ]
    }
  },
  methods: {
    dettaglio (id) {
      this.$router.push({ name: 'ente', params: { id: id } })
    }
  },
  mounted () {
    this.$api.get('admin/enti/elenco')
      .then(data => { this.atenei = data })
      .catch(error => this.$q.notify({
        message: 'Errore lettura Enti! ' + error,
        color: 'red'
      }))
  }
}
</script>
