<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md" v-if="acquistiAteneo">
    <q-btn
      align="around"
      flat
      color="primary"
      padding="none none sm"
      size="sm"
      label="Elenco enti"
      icon="keyboard_arrow_left"
      to="/admin/enti" />
    <h5 class="q-ma-none text-weight-bold">{{acquistiAteneo[0].ente}}</h5>
    <div class="row">
      <div class="col-6">
        <q-chip class="float-left" color="orange" text-color="white">
          Valore in FTE: {{acquistiAteneo[0].fte_ente}}
        </q-chip>
        <q-btn v-if="storico.length" @click="openStorico()" exact no-caps :ripple="false" flat>
          <q-icon
            size="16px"
            name="access_time"
            class="q-mr-xs" />
          <u>Storico acquisti</u>
        </q-btn>
      </div>
    </div>
    <div class="row q-mt-xl">
      <div class="col-12 col-md-4 q-mb-xl">
        <div class="q-gutter-md">
          <q-card bordered class="my-card">
            <q-card-section>
              <span class="text-subtitle2">FTE acquistati dall'Ente</span>
              <q-btn
                size="12px"
                no-caps
                color="blue-grey-5"
                icon="add"
                label="Acquisto"
                class="float-right"
                @click="openForm(null, id)" />
            </q-card-section>
            <q-card-section class="q-mt-md">
              <q-markup-table v-if="acquistiAteneo[0].acquisto_id" flat>
                <thead>
                  <tr>
                    <th class="text-left text-grey-7">FTE</th>
                    <th class="text-left text-grey-7">PRODOTTO</th>
                    <th class="text-left text-grey-7">SCADENZA</th>
                    <th class="text-left text-grey-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="acq in acquistiAteneo" :key="acq.acquisto_id">
                    <td class="text-left big-text">{{acq.fte}}</td>
                    <td class="text-left">
                      <q-tooltip>
                        <span v-html="acq.descrizione"></span>
                      </q-tooltip>
                      {{acq.prodotto}}
                    </td>
                    <td class="text-left">{{formatta(acq.scadenza)}}</td>
                    <td class="text-right">
                      <q-btn
                        flat
                        size="sm"
                        icon="edit"
                        color="black"
                        @click="openForm(acq)">
                        <q-tooltip>Modifica Acquisto</q-tooltip>
                      </q-btn>
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
              <div class="full-width" v-if="!acquistiAteneo[0].acquisto_id">
                <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
                  L'ente non ha ancora acquistato FTE.
                </q-banner>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="q-pl-md-xl">
          <span class="text-h5">Dipartimenti</span>
          <q-btn
            size="12px"
            class="float-right"
            no-caps
            color="primary"
            label="Aggiungi Dipartimento"
            @click="formDip(null)" />

          <div class="full-width q-mt-lg" v-if="!dipart || !dipart.length">
            <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
              Non risultano ancora FTE acquistati da parte dei Dipartimenti
            </q-banner>
          </div>

          <div class="row q-mt-lg" v-for="dip in dipart" :key="dip.ente_id">
            <q-card bordered style="width: 100%">
              <q-card-section class="bg-grey-3">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <span class="text-subtitle1"><strong>{{dip.nome}}</strong></span>
                  </div>
                  <div class="col-12 col-md-3">
                    Valore in FTE: {{dip.fte}}
                  </div>
                  <div class="col-12 col-md-4 text-right">
                    <q-btn
                      flat
                      size="sm"
                      icon="edit"
                      color="primary"
                      class="text-right"
                      @click="formDip(dip)">
                      <q-tooltip>Modifica Dipartimento</q-tooltip>
                    </q-btn>
                    <q-btn
                      size="11px"
                      class="float-right"
                      no-caps
                      color="blue-grey-4"
                      icon="add"
                      label="Acquisto"
                      @click="openForm(null, dip.ente_id)" />
                  </div>
                </div>
              </q-card-section>
              <q-card-section v-if="dip.acquisti && dip.acquisti.length">
                <q-markup-table flat>
                  <thead>
                    <tr>
                      <th class="text-left text-grey-7">FTE/QTA</th>
                      <th class="text-left text-grey-7">PRODOTTO</th>
                      <th class="text-left text-grey-7">SCADENZA</th>
                      <th class="text-left"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="acq in dip.acquisti" :key="acq.acquisto_id">
                      <td class="text-left big-text">{{acq.fte}}</td>
                      <td class="text-left">
                        <q-tooltip>
                          <span v-html="acq.descrizione"></span>
                        </q-tooltip>
                        {{acq.prodotto}}
                      </td>
                      <td class="text-left">{{formatta(acq.scadenza)}}</td>
                      <td class="text-right">
                        <q-btn
                          flat
                          size="sm"
                          icon="edit"
                          color="black"
                          @click="openForm(acq)">
                          <q-tooltip>Modifica Acquisto</q-tooltip>
                        </q-btn>
                      </td>
                    </tr>
                  </tbody>
                </q-markup-table>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="formAcquisto" persistent>
      <q-card style="width: 300px">
        <q-card-section class="row items-center q-pb-sm">
          <div class="text-h6" v-if="selectedAcq.acquisto_id">Modifica Acquisto</div>
          <div class="text-h6" v-else>Nuovo Acquisto</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <q-form @submit="save" class="q-gutter-md">
          <q-select
            outlined
            dense
            emit-value
            map-options
            option-value="prodotto_id"
            option-label="nome"
            v-model="selectedAcq.prodotto_id"
            :rules="[val => !!val || 'Dato obbligatorio']"
            :options="prodotti"
            label="Prodotto *" />
          <q-input
            outlined
            dense
            label="N. FTE/Qta *"
            :rules="[val => !!val || 'Dato obbligatorio']"
            mask="#####"
            v-model="selectedAcq.fte" />
          <q-input
            outlined
            dense
            label="Data di scadenza *"
            v-model="reformattedDate"
            class="q-mt-none"
            option-label="Data di scadenza">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="selectedAcq.scadenza" @input="updateInput">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Chiudi" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-btn
            color="primary"
            label="Salva"
            no-caps
            :disabled="!checkFields"
            type="submit" />
          <q-btn
            flat
            color="red"
            label="Elimina"
            no-caps
            class="float-right"
            v-if="selectedAcq.acquisto_id"
            @click="deleteAcq" />
        </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="formDipartimento" persistent>
      <q-card style="width: 300px">
        <q-card-section class="row items-center q-pb-sm">
          <div class="text-h6">Nuovo Dipartimento</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <q-form @submit="saveDip" class="q-gutter-md">
            <q-input
              outlined
              color="black"
              dense
              label="Nome *"
              :rules="[
                val => !!val || 'Dato obbligatorio',
                val => val.length < 201 || 'Massimo 200 caratteri',
              ]"
              lazy-rules
              v-model="selectedDip.nome" />
            <q-input
              outlined
              color="black"
              dense
              class="q-mt-none"
              label="FTE *"
              :rules="[val => !!val || 'Dato obbligatorio']"
              mask="#####"
              v-model="selectedDip.fte" />
            <q-btn
              color="primary"
              label="Salva"
              no-caps
              :disabled="!selectedDip.fte || !selectedDip.nome"
              type="submit" />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
    <storico-dialog
      :dialog="show"
      :source="storico"
      :sourceDip="storicoDip"
      :nomeAteneo="nomeAteneo"
      @reset="reset()">
    </storico-dialog>
  </div>
</template>

<script>
import { date } from 'quasar'
import StoricoDialog from '../../components/StoricoDialog.vue'

export default {
  name: 'PageEnte',
  components: {
    StoricoDialog
  },
  props: ['id'],
  data () {
    return {
      storicoDip: [],
      storico: [],
      nomeAteneo: null,
      show: false,
      loading: false,
      acquistiAteneo: null,
      dipart: null,
      selectedAcq: {},
      formAcquisto: false,
      selectedDip: {},
      formDipartimento: false,
      prodotti: []
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    $route: 'fetchData'
  },
  computed: {
    checkFields () {
      return (
        this.selectedAcq.fte &&
        this.selectedAcq.prodotto_id &&
        this.selectedAcq.scadenza
      )
    },
    reformattedDate () {
      return this.formatta(this.selectedAcq.scadenza)
    }
  },
  mounted () {
    this.getStorico()
  },
  methods: {
    getStorico () {
      this.$api.get('admin/enti/storico?id=' + this.id)
        .then(data => {
          this.storico = data.filter((a) => a.ente_id === +this.id)
          this.storicoDip = data.filter((a) => a.ente_id !== +this.id)
        })
    },
    openStorico () {
      this.show = true
    },
    fetchData () {
      this.loading = true
      this.formAcquisto = false
      this.formDipartimento = false

      this.$api.get('enti/' + this.id)
        .then(data => {
          this.acquistiAteneo = data.filter((a) => a.ente_id === +this.id)
          this.nomeAteneo = this.acquistiAteneo[0].ente
          const acquistiDipart = data.filter((a) => a.ente_id !== +this.id)
          const helper = {}
          this.dipart = acquistiDipart.reduce(function (r, o) {
            const key = o.ente_id + '-' + o.ente + '-' + o.fte_ente
            if (!helper[key]) {
              helper[key] = Object.assign({}, o) // create a copy of o
              r.push({ ente_id: o.ente_id, nome: o.ente, fte: o.fte_ente })
            }

            return r
          }, [])

          this.dipart.forEach(d => {
            d.acquisti = acquistiDipart.filter((a) => a.ente_id === d.ente_id && a.acquisto_id)
          })
          this.loading = false
        })
        .catch(error => {
          if (error.message !== 'Richiesta non autorizzata.') {
            this.$q.notify({
              message: 'Errore! ' + error,
              color: 'red'
            })
          }
          this.loading = false
        })
    },
    openForm (acq, ente) {
      if (acq) this.selectedAcq = Object.assign({}, acq)
      else this.selectedAcq = { ente_id: ente }

      if (!this.prodotti.length) {
        this.$api.get('prodotti/prodotti')
          .then(data => {
            this.prodotti = data
            this.formAcquisto = true
          })
          .catch(error => {
            this.$q.notify({
              message: 'Errore lettura Prodotti! ' + error,
              color: 'red'
            })
          })
      } else {
        this.formAcquisto = true
      }
    },
    reset () {
      this.show = false
    },
    save () {
      this.$api.post('admin/acquisti/save', this.selectedAcq)
        .then(data => this.fetchData())
        .catch(error => {
          this.$q.notify({
            message: 'Errore salvataggio dati! ' + error,
            color: 'red'
          })
        })
    },
    deleteAcq () {
      this.$api.delete('admin/acquisti/' + this.selectedAcq.acquisto_id)
        .then(data => this.fetchData())
        .catch(error => {
          this.$q.notify({
            message: 'Errore cancellazione dati! ' + error,
            color: 'red'
          })
        })
    },
    formDip (dip) {
      if (dip) this.selectedDip = Object.assign({}, dip)
      else this.selectedDip = { padre_id: this.id }
      this.formDipartimento = true
    },
    saveDip () {
      this.$api.post('admin/enti/save', this.selectedDip)
        .then(data => this.fetchData())
        .catch(error => {
          this.$q.notify({
            message: 'Errore salvataggio dati! ' + error,
            color: 'red'
          })
        })
    },
    updateInput (newDate) {
      this.selectedAcq.scadenza = newDate
      this.$refs.qDateProxy.hide()
    },
    formatta (d) {
      return date.formatDate(d, 'DD/MM/YYYY')
    }
  }
}
</script>
<style>
.bg-amber-1b {
  background: #fef2cc;
}
.big-text {
  font-size: 22px!important;
  font-weight: 300;
  padding-top: 0px!important;
}
</style>
