<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <div class="bg-white text-black">
      <h5 class="q-ma-none text-bold">FTE calcolati</h5>
      <div class="q-pt-md q-gutter-y-sm">
        <div class="row max-width-100%">
          <q-input
            class="col col-md-8"
            style="max-width: 40%; margin-right: 10px"
            outlined
            color="black"
            dense
            debounce="300"
            v-model="filter"
            placeholder="Cerca FTE calcolato"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </div>
    </div>

    <div class="q-py-md q-gutter-y-sm">
      <q-table
        table-header-class="bg-blue-grey-1 text-grey-8"
        :rows="dati"
        :columns="columns"
        row-key="calcolo_id"
        :grid="$q.screen.xs"
        :filter="filter"
        :pagination="pagination"
      >
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              size="11px"
              no-caps
              color="primary"
              label="Dettaglio"
              @click="openActions(props)"
            />
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="show" persistent square>
      <q-card class="q-pa-sm">
        <q-card-section>
          <div class="row">
            <div class="text-h6">{{ sourceDetail.ateneo }}</div>
            <q-space />
            <q-btn class="close-button" icon="close" flat round dense v-close-popup />
          </div>
          <div class="text-subtitle2 text-blue-grey-8">
            {{ formatDate( sourceDetail.data_calcolo) }}
          </div>
        </q-card-section>

        <q-card-section>
          <div class="row items-center">
            <q-list bordered separator>
              <q-item>
                <q-item-section>
                  <q-item-label>Personale docente di ruolo, a contratto e ricercatori</q-item-label>
                </q-item-section>
                <q-item-section class="text-right col-2">
                  <q-item-label>
                    {{ sourceDetail.docfull}}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator spaced ></q-separator>
              <q-item>
                <q-item-section>
                  <q-item-label>Personale non docente</q-item-label>
                </q-item-section>
                <q-item-section class="text-right col-2">
                  <q-item-label>
                    {{ sourceDetail.nondocfull}}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
        <q-card-section>
          <h6 text-weight-bold class="q-ma-none text-weight-bold">
            Valore in FTE: {{ sourceDetail.fte_calcolato}}
          </h6>
          <h6 text-weight-bold class="q-ma-none text-weight-bold">
            FTE da acquistare: {{ sourceDetail.fte_effettivo}}
          </h6>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date } from 'quasar'
export default {
  name: 'PageCalcola',
  data () {
    return {
      dati: [],
      detailName: null,
      sourceDetail: {},
      pagination: {
        sortBy: 'data_calcolo',
        descending: true,
        page: 1,
        rowsPerPage: 10
      },
      columns: [
        {
          name: 'utente_id',
          required: true,
          label: 'UTENTE',
          align: 'left',
          field: 'mail',
          sortable: true
        },
        {
          name: 'ente',
          align: 'left',
          label: 'UNIVERSITA',
          field: 'ateneo',
          sortable: true
        },
        {
          name: 'dipartimento',
          align: 'left',
          label: 'DIPARTIMENTO',
          field: 'ente',
          sortable: true
        },
        {
          name: 'FTEcalcolato',
          align: 'left',
          label: 'FTE CALCOLATI',
          field: 'fte_calcolato',
          sortable: true
        },
        {
          name: 'FTEeffettivo',
          align: 'left',
          label: 'FTE DA ACQUISTARE',
          field: 'fte_effettivo',
          sortable: true
        },
        {
          name: 'datacalcolo',
          align: 'right',
          label: 'DATA',
          field: 'data_calcolo',
          format: val => date.formatDate(val, 'DD/MM/YY - HH:mm'),
          sortable: true
        },
        {
          name: 'actions',
          align: 'right',
          label: 'AZIONI'
        }
      ],
      filter: '',
      show: false
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      this.$api.get('admin/calcoli/fte')
        .then(results => { this.dati = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura fte! ' + error,
            color: 'red'
          })
        })
    },
    openActions (data) {
      this.detailName = data.mail

      this.$api
        .get('admin/calcoli/fte', {
          params: {
            mail: this.detailName
          }
        })
        .then(results => {
          this.sourceDetail = data.row
          this.show = true
        })
    },
    formatDate (val) {
      return date.formatDate(val, 'DD/MM/YY - HH:mm')
    },
    reset () {
      this.show = false
    }
  }
}
</script>
<style>
  .close-button {
    position: relative;
    top: -1em;
    right: -1em;
    color: #777;
  }
</style>
