<template>
  <div>
    <q-dialog
      v-model="show"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down">
      <q-card-section class="bg-white text-black">
        <q-toolbar class="text-black bg-white">
          <q-toolbar-title>
            Richiedi offerta
          </q-toolbar-title>
          <q-btn dense flat icon="close" v-close-popup @click="resetValue" />
        </q-toolbar>
        <q-separator />
        <q-stepper
          class="q-mt-md"
          v-model="step"
          ref="stepper"
          color="primary"
          animated>
          <q-step
            :name="1"
            title="Dipartimento / Ente"
            prefix="1"
            :done="step > 1">
            <div class="row">
              <q-select
                style="width: 500px"
                outlined
                label="Utente *"
                option-value="utente_id"
                option-label="nome"
                v-model="utente"
                @update:model-value="changeUser"
                :options="utenti"
                :rules="[
                  val => !!val || 'Dato obbligatorio'
                ]"
                lazy-rules />
            </div>
            <div v-if="utente && !loading">
              <div class="row">
                <div class="col-md-8 q-mb-lg">
                  <q-banner inline-actions rounded class="bg-amber-1b text-grey-8">
                    <strong>IMPORTANTE:</strong><br>
                    Puoi effettuare una richiesta d'ordine per aderire al contratto CRUI - RED HAT (500 FTE).
                    <br>Puoi effettuare una richiesta d'ordine solo per i dipartimenti per i quali hai già effettuato il calcolo FTE e sono stati validati.
                  </q-banner>
                </div>
              </div>
              <p>La richiesta di offerta è</p>
              <q-radio v-model="tipoEnte" val="A" label="per aderire al contratto CRUI - RED HAT (500 FTE)" /> <br>
              <q-radio v-model="tipoEnte" val="T" label="per aderire al contratto CRUI - RED HAT per il totale degli FTE d'ateneo" /> <br>
              <q-radio v-model="tipoEnte" v-if="dipartimenti && dipartimenti.length" val="D" label="per un Dipartimento" />
              <div class="row" v-if="tipoEnte==='D'">
                <div class="col-12 col-md-4 col-lg-4 q-mb-xl">
                  <q-scroll-area style="height: 280px;">
                    <div class="row q-mt-md">
                      <div class="col-6 text-caption">
                        <em>Seleziona uno o più Dipartimenti</em>
                      </div>
                      <div class="col-6 text-caption text-right q-pr-xs">
                        <em>Totale FTE: <strong>{{totFTE}}</strong></em>
                        <span class="q-ml-md"><em>FTE da acquistare: <strong>{{acquistoFTE}}</strong></em></span>
                      </div>
                    </div>
                    <q-list v-for="el in dipartimenti" :key="el.ente_id" bordered>
                      <q-item>
                        <q-item-section avatar>
                          <q-checkbox
                            @click="calcFte"
                            :val="el"
                            v-model="ordine.enti" />
                        </q-item-section>
                        <q-item-section>
                          {{el.nome}}
                        </q-item-section>
                        <q-item-section side>
                          <q-chip>
                            {{el.fte}} FTE
                          </q-chip>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-scroll-area>
                </div>
              </div>
            </div>
          </q-step>

          <q-step
            :name="2"
            title="Scegli i Prodotti"
            prefix="2"
            :done="step > 2">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-5 q-mb-xl">
                <q-list bordered class="rounded-borders">
                  <q-expansion-item class="title-software" :content-inset-level="0.5" expand-separator icon="terminal" label="Software">
                    <q-scroll-area style="height: 435px;">
                      <q-list v-for="el in prodotti" :key="el.prodotto_id">
                      <q-expansion-item :class="el.classe" v-if="el.classe === 'label-software'">
                        <template v-slot:header>
                          <q-item-section avatar>
                            <q-checkbox :val="el" v-model="ordine.prodotti" />
                          </q-item-section>
                          <q-item-section>
                            {{el.nome}}
                          </q-item-section>
                        </template>
                        <q-card>
                          <q-card-section>
                            <span v-html="el.descrizione2"></span>
                          </q-card-section>
                        </q-card>
                      </q-expansion-item>
                      </q-list>
                    </q-scroll-area>
                  </q-expansion-item>
                  <q-expansion-item class="title-education" :content-inset-level="0.5" expand-separator icon="school" label="Formazione">
                    <q-list v-for="el in prodotti" :key="el.prodotto_id">
                    <q-expansion-item :class="el.classe" v-if="el.classe === 'label-education'">
                      <template v-slot:header>
                        <q-item-section avatar>
                          <q-checkbox :val="el" v-model="ordine.prodotti" />
                        </q-item-section>
                        <q-item-section>
                          {{el.nome}}
                        </q-item-section>
                      </template>
                      <q-card>
                        <q-card-section>
                          <span v-html="el.descrizione2"></span>
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>
                  </q-list>
                  </q-expansion-item>

                  <q-expansion-item class="title-consulting" :content-inset-level="0.5" expand-separator icon="person" label="Consulting">
                    <q-list v-for="el in prodotti" :key="el.prodotto_id">
                    <q-expansion-item :class="el.classe" v-if="el.classe === 'label-consulting'">
                      <template v-slot:header>
                        <q-item-section avatar>
                          <q-checkbox :val="el" v-model="ordine.prodotti" />
                        </q-item-section>
                        <q-item-section>
                          {{el.nome}}
                        </q-item-section>
                      </template>
                      <q-card>
                        <q-card-section>
                          <span v-html="el.descrizione2"></span>
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>
                  </q-list>

                  </q-expansion-item>
                  <q-expansion-item class="title-corsi" :content-inset-level="0.5" expand-separator icon="menu_book" label="Corsi Red Hat">
                    <q-list v-for="el in prodotti" :key="el.prodotto_id">
                      <q-expansion-item :class="el.classe" v-if="el.classe === 'label-corsi'">
                        <template v-slot:header>
                          <q-item-section avatar>
                            <q-checkbox :val="el" v-model="ordine.prodotti" />
                          </q-item-section>
                          <q-item-section>
                            {{el.nome}}
                          </q-item-section>
                        </template>
                        <q-card>
                          <q-card-section>
                            <span v-html="el.descrizione2"></span>
                          </q-card-section>
                        </q-card>
                      </q-expansion-item>
                    </q-list>
                  </q-expansion-item>
                </q-list>
              </div>
              <div class="col-12 col-md-8 col-lg-5 q-pl-md-xl">
                <p>
                  <strong>Seleziona i prodotti, scegli la durata se presente più di un'opzione e indica la quantità</strong>
                </p>
                <div v-for="prod in ordine.prodotti" :key="prod.prodotto_id">
                  <q-list bordered>
                    <q-item>
                      <q-item-section>{{prod.nome}}</q-item-section>
                      <div>
                        <q-radio v-model="prod.periodo" v-if="prod.show_periodo" :val="'1'" label="1 anno" />
                        <q-radio v-model="prod.periodo" v-if="prod.show_periodo && prod.val_unitario_3" :val="'3'" label="3 anni" /><br>
                        <q-input
                          v-if="prod.show_qta"
                          v-model.number="prod.qta"
                          type="number"
                          dense
                          color="primary"
                          style="max-width: 80px; position: relative; float: right;"
                          :hint="prod.classe==='label-corsi' ? 'Persone' : 'Quantità'" />
                        <br>
                        <q-chip v-if="!prod.show_qta">{{ordine.fte}} FTE</q-chip>
                      </div>
                    </q-item>
                  </q-list>
                </div>
              </div>
            </div>
          </q-step>

          <q-step
            :name="3"
            title="Anagrafica"
            prefix="3"
            :done="step > 3">
            <div class="row">
              <div class="col-4">
                <q-form class="q-mt-md">
                  <p><strong>Informazioni Ente / Ateneo</strong></p>
                  <q-input
                    outlined
                    color="black"
                    label="Indirizzo *"
                    v-model="ordine.indirizzo"
                    :rules="[
                      val => !!val || 'Dato obbligatorio',
                      val => val.length < 201 || 'Massimo 200 caratteri'
                    ]"
                    lazy-rules />
                  <q-input
                    outlined
                    color="black"
                    label="CAP *"
                    mask="#####"
                    v-model="ordine.cap"
                    :rules="[
                      val => !!val || 'Dato obbligatorio',
                      val => val.length < 21 || 'Massimo 20 caratteri'
                    ]"
                    lazy-rules />
                  <q-input
                    outlined
                    color="black"
                    label="Città *"
                    v-model="ordine.citta"
                    :rules="[
                      val => !!val || 'Dato obbligatorio',
                      val => val.length < 201 || 'Massimo 200 caratteri'
                    ]"
                    lazy-rules />
                  <q-input
                    outlined
                    color="black"
                    label="Provincia *"
                    mask="AA"
                    v-model="ordine.provincia"
                    :rules="[
                      val => !!val || 'Dato obbligatorio',
                      val => val.length < 3 || 'Massimo 2 caratteri'
                    ]"
                    lazy-rules />
                  <q-input
                    outlined
                    color="black"
                    label="CF/Partita iva"
                    v-model="ordine.cf"
                    :rules="[
                      val => val.length < 21 || 'Massimo 20 caratteri'
                    ]"
                    lazy-rules />
                  <q-input
                    outlined
                    color="black"
                    label="Telefono"
                    v-model="ordine.telefono"
                    :rules="[
                      val => val.length < 21 || 'Massimo 20 caratteri'
                    ]"
                    lazy-rules />
                  <q-input
                    outlined
                    color="black"
                    label="Fax"
                    v-model="ordine.fax"
                    :rules="[
                      val => val.length < 21 || 'Massimo 20 caratteri'
                    ]"
                    lazy-rules />
                  <q-select
                    v-if="ordine.enti.length && tipoEnte === 'D'"
                    outlined
                    label="Dipartimento capofila *"
                    emit-value
                    map-options
                    option-value="ente_id"
                    option-label="nome"
                    v-model="ordine.ente_id"
                    :options="ordine.enti"
                    :rules="[
                      val => !!val || 'Dato obbligatorio'
                    ]"
                    lazy-rules />
                  <div class="text-grey-9">
                    <q-checkbox
                      label="Dichiaro di aver preso visione dell'informativa e acconsento al trattamento dei dati personali *"
                      v-model="privacy" />
                    <a
                      class="text-grey-9"
                      style="margin-left: 40px;"
                      href="https://www.iubenda.com/privacy-policy/106637"
                      target="_blank"
                      title="Privacy Policy">
                      Privacy Policy e Informativa
                    </a>
                  </div>
                  <p class="q-mt-lg"><strong>Referente</strong></p>
                  <p v-if="utente.nome !== utente.mail">{{utente.nome}}<br>{{utente.mail}}</p>
                  <p v-else>{{utente.mail}}</p>
                </q-form>
              </div>
              <div class="col-4 offset-1">
                <p class="q-mt-xl">
                  I dati richiesti riguardano i dati legali relativi alla sede istituzionale di Ateneo.<br>
                  Essi saranno utilizzati per la generazione e il processamento dell'ordine di acquisto verso CRUI RED HAT.
                </p>
                <p>
                  Nel caso l'ordine riguardasse più dipartimenti il sistema richiede la definizione del dipartimento capofila. Il Dipartimento capofila è un ruolo prettamente formale e riguarda il Dipartimento che ha svolto una funzione aggregante verso gli altri Dipartimenti o Servizi che prendono parte all'ordine.
                </p>
              </div>
            </div>
          </q-step>

          <q-step :name="4" title="Informazioni Red Hat" prefix="4">
            <div class="row">
              <div class="col-4">
                <q-form class="q-mt-md">
                  <p class="q-mt-md q-mb-lg q-pb-md text-h6 text-primary"><strong>Informazioni Red Hat</strong></p>
                  <div class="q-mb-xl q-gutter-sm" v-for="el in ordine.enti" :key="el.ente_id">
                    <strong>{{el.nome}}</strong>
                    <q-input
                      outlined
                      color="black"
                      label="Red Hat Account"
                      v-model="el.account_rh" />
                    <q-input
                      outlined
                      color="black"
                      label="Login ID"
                      v-model="el.login_id" />
                    <q-radio v-model="el.rinnovo" val="true" label="Rinnovo" />
                    <q-radio v-model="el.rinnovo" val="false" label="Nuova Sottoscrizione" />
                  </div>
                </q-form>
              </div>
              <div class="col-4 offset-1">
                <p class="q-mt-xl">
                  I dati richiesti riguardano l'eventuale account Red Hat dove verranno attestate le distribuzioni Red Hat richieste.<br>
                  Essi non sono obbligatori, ma inserirli velocizza l'emissione dell'ordine.
                </p>
                <p>Nel caso in cui siano presenti più Dipartimenti sarà possibile esplicitare diversi Red Hat Account, uno per Dipartimento/Servizio.</p>
              </div>
            </div>
          </q-step>

          <template v-slot:navigation>
            <q-stepper-navigation>
              <q-btn
                v-if="step < 4"
                :disabled="cannotSave"
                @click="$refs.stepper.next()"
                color="primary"
                label="Avanti" />
              <q-btn
                v-if="step === 4"
                @click="salva"
                color="primary"
                label="Invia Richiesta" />
              <q-btn
                v-if="step > 1"
                flat
                color="primary"
                @click="$refs.stepper.previous()"
                label="Indietro" class="q-ml-sm" />
            </q-stepper-navigation>
          </template>
        </q-stepper>
      </q-card-section>
    </q-dialog>
  </div>
</template>

<script>
import { ref } from 'vue'
import { date } from 'quasar'

let oggi = new Date()
oggi = date.addToDate(oggi, { days: 15 })
const formattedDate = date.formatDate(oggi, 'DD/MM/YYYY')

export default {
  name: 'NuovoOrdineAdmin',
  props: ['dialog'],
  data: () => ({
    loading: false,
    show: false,
    privacy: false,
    step: ref(1),
    ordine: {},
    utente: null,
    prodotti: [],
    dipartimenti: [],
    ateneo: {},
    fte: [],
    tipoEnte: null,
    totFTE: 0,
    acquistoFTE: 0
  }),
  mounted () {
    this.load()
  },
  computed: {
    showDialog () {
      return this.dialog
    },
    getEnte () {
      return this.dipartimenti.find((d) => d.ente_id === this.ordine.ente_id).nome
    },
    cannotSave () {
      if (this.step === 1) return false // !this.ordine.enti.length

      if (this.step === 2)
        return !this.ordine.prodotti ||
               !this.ordine.prodotti.length

      return !this.ordine.indirizzo ||
             !this.ordine.cap ||
             !this.ordine.citta ||
             !this.ordine.provincia ||
             !this.ordine.ente_id ||
             !this.privacy
    }
  },
  watch: {
    showDialog: function (val) {
      this.tipoEnte = 'A'
      this.show = val
    },
    'ordine.prodotti': function () {
      if (this.ordine?.prodotti?.length) {
        this.ordine.prodotti.forEach((o) => {
          // eslint-disable-next-line
          if (!o.hasOwnProperty('decorrenza')) o.decorrenza = formattedDate
        })
      }
    },
    tipoEnte: function (val) {
      if (val === 'A') {
        this.ordine = { enti: [{ ente_id: this.ateneo }], prodotti: [], fte: 500, ente_id: this.ateneo }
      } else if (val === 'T') {
        this.ordine = { enti: [{ ente_id: this.ateneo }], prodotti: [], fte: this.fte[0].fte, ente_id: this.ateneo }
      } else {
        this.ordine = { enti: [], prodotti: [], fte: this.acquistoFTE, ente_id: null }
      }
    }
  },
  methods: {
    load () {
      this.loading++
      this.$api.get('prodotti/prodotti')
        .then(results => {
          this.prodotti = results
          this.loading--
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura prodotti! ' + error,
            color: 'red'
          })
          this.loading--
        })

      this.loading++
      this.$api.get('admin/ordini/utenti')
        .then(results => {
          this.utenti = results
          this.loading--
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura utenti! ' + error,
            color: 'red'
          })
          this.loading--
        })
    },
    changeUser (val) {
      // console.log(val)
      this.ateneo = val.ente_id
      this.dipartimenti = []
      this.fte = []
      this.tipoEnte = null
      this.$api.get('enti/' + val.ente_id + '/dipartimenti')
        .then(results => { this.dipartimenti = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura dipartimenti! ' + error,
            color: 'red'
          })
        })
      this.$api.get('enti/fte/' + this.ateneo)
        .then(data => {
          this.fte = data
        })
        .catch(error => {
          this.$q.notify({
            message: 'Errore! Dati non disponibili. ' + error,
            color: 'red'
          })
        })
    },
    resetValue () {
      this.$emit('reset')
      this.tipoEnte = null
      this.step = 1
    },
    calcFte () {
      const totalFTE = this.ordine.enti.reduce(function (prev, cur) {
        return prev + cur.fte
      }, 0)
      this.totFTE = totalFTE
      const roundFTE = Math.max(this.totFTE, 200)
      this.acquistoFTE = roundFTE
      this.ordine.fte = this.acquistoFTE
    },
    salva () {
      this.ordine.prodotti.forEach((p) => {
        if (!p.qta) {
          if (p.show_qta) p.qta = 1
          else p.qta = this.ordine.fte
        } else if (!p.periodo) {
          p.periodo = '1'
        }
      })
      // eslint-disable-next-line
      this.ordine.enti = this.ordine.enti.map(({ ente_id, account_rh, login_id, rinnovo }) => ({ ente_id, account_rh, login_id, rinnovo }))
      // eslint-disable-next-line
      this.ordine.prodotti = this.ordine.prodotti.map(({ prodotto_id, periodo, qta, decorrenza }) => ({ prodotto_id, periodo, qta, decorrenza }))
      this.ordine.utente = this.utente
      this.$emit('save', this.ordine)
    }
  }
}
</script>
<style>
  .q-expansion-item__content .q-card__section:first-child p:last-child {
    margin-bottom: 0;
  }
  .title-software,
  .title-consulting,
  .title-education,
  .title-corsi {
    text-align: left;
    color: #000;
  }

  .title-software .q-item__label,
  .title-education .q-item__label,
  .title-consulting .q-item__label,
  .title-corsi .q-item__label {
    font-size: 18px;
    padding: .5em 0;
  }

  .q-item__section {
    color: #000
  }

  .title-software {
    background: #F0E3F4;
    border-bottom: 8px solid #CCA1D9;
  }
  .title-education {
    background: #B3CEDC;
    border-bottom: 8px solid #005C8B;
  }
  .title-consulting {
    background: #C1EBE9;
    border-bottom: 8px solid #31BCB4;
  }
  .title-corsi {
    background: #f0f5da;
    border-bottom: 8px solid #afcb37;
  }
  .label-software {
    background: #FAF6FB;
    border-bottom: 1px solid #d8d8d8;
  }
  .label-education {
    background: #E6EFF3;
  }
  .label-consulting {
    background: #EAF8F7;
  }
  .label-corsi {
    background: #fbfeea;
  }
</style>
