<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <div class="bg-white text-black">
      <h5 class="q-ma-none text-bold">Richieste ricevute</h5>
      <div class="q-pt-md q-gutter-y-sm">
        <div class="row max-width-100%">
          <q-input
            class="col col-md-8"
            style="max-width: 40%; margin-right: 10px"
            outlined
            color="black"
            dense
            debounce="300"
            v-model="filter"
            placeholder="Cerca richiesta">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </div>
    </div>

    <div class="q-py-md q-gutter-y-sm">
      <q-table
        table-header-class="bg-blue-grey-1 text-grey-8"
        :rows="dati"
        class="doc-table"
        :columns="columns"
        :grid="$q.screen.xs"
        row-key="richiesta_id"
        :filter="filter"
        :pagination="pagination">
      <template v-slot:body-cell-privacy="props">
        <q-td :props="props">
          <q-icon name="done" />
        </q-td>
      </template>
      <template v-slot:body-cell-stato="props">
          <q-td :props="props">
            <div v-if="props.row.is_new">
              <q-icon
                name="circle"
                class="text-green"
                style="font-size: 16px; line-height: 0.8;" />
              Nuovo
            </div>
            <div v-else>
              <q-icon
                name="circle"
                class="text-grey"
                style="font-size: 16px; line-height: 0.8;" />
              Chiuso
            </div>
          </q-td>
        </template>
        
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              size="11px"
              no-caps
              color="primary"
              label="Dettaglio"
              @click="openActions(props.row)" />
          </q-td>
        </template>
      </q-table>
    </div>

    <q-dialog v-model="show" persistent square>
      <q-card class="q-pa-sm" style="width: 600px;">
        <q-card-section>
          <div class="row">
            <div>
              <span class="text-h6">{{ sourceDetail.mail }}</span><br>
              <span class="text-caption text-blue-grey-8">
                {{ formatDate(sourceDetail.data_richiesta) }}
              </span>
            </div>
            <q-space />
            <q-btn class="close-button" icon="close" flat round dense v-close-popup />
          </div>
          <div class="text-subtitle2 text-blue-grey-8 q-mt-md">
            {{ sourceDetail.ateneo }}
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div>
            <q-toggle
              :label="`${setToggle(sourceDetail.is_new)}`"
              v-model="sourceDetail.is_new"
              @click="save" />
            <div class="q-mt-md">
              <q-chip v-for="el in prodotti" :key="el.prodotto_id" outline>
                {{el.nome}}
                <q-tooltip>
                  <span v-html="el.descrizione"></span>
                </q-tooltip>
              </q-chip>
            </div>
            <div class="q-mt-md block">
              <p><strong>Telefono:</strong> {{ sourceDetail.telefono }}</p>
              <p><strong>Dipartimento, Scuola o Ente:</strong> {{ sourceDetail.ente }}</p>
              <p>
                <strong>Messaggio:</strong><br>
                {{ sourceDetail.testo }}
              </p>
              <p><strong>Privacy:</strong> <q-icon name="done" /> Accettata</p>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date } from 'quasar'
export default {
  name: 'PageRichieste',
  data () {
    return {
      dati: [],
      prodotti: [],
      sourceDetail: {},
      pagination: {
        sortBy: 'data_richiesta',
        descending: true,
        page: 1,
        rowsPerPage: 10
      },
      columns: [
        {
          name: 'utente_id',
          required: true,
          label: 'UTENTE',
          align: 'left',
          field: 'mail',
          sortable: true
        },
        {
          name: 'ente',
          align: 'left',
          label: 'UNIVERSITA',
          field: 'ateneo',
          sortable: true
        },
        {
          name: 'registrazione',
          align: 'left',
          label: 'DATA',
          field: 'data_richiesta',
          format: val => date.formatDate(val, 'DD/MM/YY - HH:mm'),
          sortable: true
        },
        {
          name: 'privacy',
          align: 'center',
          label: 'PRIVACY',
          field: '',
        },
        {
          name: 'stato',
          align: 'right',
          label: 'STATO',
          field: 'is_new',
          sortable: true
        },
        {
          name: 'actions',
          align: 'right',
          label: 'AZIONI'
        }
      ],
      filter: '',
      show: false
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    setToggle (data) {
      if (data) {
        const nuovo = 'Nuovo'
        return nuovo
      } else {
        const chiuso = 'Chiuso'
        return chiuso
      }
    },
    getData () {
      this.$api.get('admin/richieste/list')
        .then(results => { this.dati = results })
        .catch(error => console.error('Errore lettura richieste!', error))
    },
    openActions (data) {
      this.sourceDetail = Object.assign({}, data)
      this.$api.get('admin/richieste/' + this.sourceDetail.richiesta_id + '/prodotti')
        .then(results => { this.prodotti = results })
        .catch(error => console.error('Errore lettura prodotti!', error))
      this.show = true
    },
    formatDate (val) {
      return date.formatDate(val, 'DD/MM/YY - HH:mm')
    },
    save () {
      this.$api.post('admin/richieste/aggiorna_stato', { richiesta_id: this.sourceDetail.richiesta_id, is_new: this.sourceDetail.is_new })
        .then(data => this.getData())
    }
  }
}
</script>
<style>
.q-chip:first-child {
  margin-left: 0;
}
</style>
