<template>
  <div class="q-pa-lg q-mt-xs q-gutter-y-md">
    <div class="bg-white text-black">
      <h5 class="q-ma-none text-bold">Utenti</h5>
      <div class="q-py-md q-gutter-y-sm">
        <div class="row max-width-100%">
          <q-input
            class="col col-md-8"
            style="max-width: 40%; margin-right: 10px"
            outlined
            color="black"
            dense
            debounce="300"
            v-model="filter"
            placeholder="Cerca utente"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
        <q-btn
          style="float: right"
          size="11px"
          no-caps
          color="black"
          label="Export in CSV"
          @click="exportTable()"
        />
      </div>
    </div>

    <div class="q-py-md q-gutter-y-sm">
      <q-table
        table-header-class="bg-blue-grey-1 text-grey-8"
        :rows="dati"
        class="doc-table"
        :columns="columns"
        :grid="$q.screen.xs"
        row-key="utente_id"
        :filter="filter"
        :pagination="pagination"
      >
      <template v-slot:body-cell-abilitato="props">
          <q-td :props="props">
            <div v-if="props.row.abilitato">
              <q-icon
                name="circle"
                class="text-green"
                style="font-size: 16px; line-height: 0.8;"
              />
              Attivo
            </div>

            <div v-if="!props.row.abilitato">
              <q-icon
                name="circle"
                class="text-red"
                style="font-size: 16px; line-height: 0.8;"
              />
              Bloccato
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              size="11px"
              no-caps
              color="primary"
              label="Dettaglio"
              @click="openActions(props.row)"
            />
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="show" persistent square>
      <q-card class="q-pa-sm">
        <q-card-section>
          <div class="row">
            <div class="text-h6">{{ sourceDetail.mail }}</div>
            <q-space />
            <q-btn class="close-button" icon="close" flat round dense v-close-popup @click="notifyUser = false" />
          </div>
          <div class="text-subtitle2 text-blue-grey-8">
            {{ formatDate(sourceDetail.data_richiesta) }}
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div>
            <strong>Registrato il:</strong> {{ formatDate(sourceDetail.data_registrazione) }}
            <q-select
              option-value="ente_id"
              option-label="nome"
              outlined
              color="black"
              v-model="sourceDetail.ente_id"
              :options="atenei"
              label="Ateneo"
              map-options
              emit-value
              dense
              class="q-mt-lg q-pb-none" />
            <br>
            <q-toggle
              :label="`${setToggle(sourceDetail.abilitato)}`"
              v-model="sourceDetail.abilitato" />
            <br>
            <q-toggle
              v-if="!sourceDetail.admin"
              :label="`${setToggle2(sourceDetail.fl_ordini)}`"
              v-model="sourceDetail.fl_ordini" />
          </div>

          <div>
            <q-checkbox
             :disable="!sourceDetail.abilitato"
             v-model="notifyUser"
             label="Invia notifica" />
          </div>
        </q-card-section>
        <q-card-section>
          <div class="row items-left">
            <q-btn
              no-caps
              color="primary"
              label="Salva"
              @click="save()" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date, exportFile } from 'quasar'
export default {
  name: 'PageUtenti',
  data () {
    return {
      dati: [],
      sourceDetail: {},
      customModel: [],
      notifyUser: false,
      atenei: [],
      ateneo: '',
      options: [],
      pagination: {
        sortBy: 'abilitato',
        descending: false,
        page: 1,
        rowsPerPage: 10
      },
      columns: [
        {
          name: 'nome_completo',
          required: true,
          label: 'NOME COMPLETO',
          align: 'left',
          field: 'nome',
          sortable: true
        },
        {
          name: 'utente_id',
          required: true,
          label: 'EMAIL',
          align: 'left',
          field: 'mail',
          sortable: true
        },
        {
          name: 'ente',
          align: 'left',
          label: 'UNIVERSITA',
          field: 'ateneo',
          sortable: true
        },
        {
          name: 'registrazione',
          align: 'left',
          label: 'REGISTRAZIONE',
          field: 'data_registrazione',
          format: val => date.formatDate(val, 'DD/MM/YY - HH:mm'),
          sortable: true
        },
        {
          name: 'abilitato',
          align: 'right',
          label: 'STATO',
          field: 'abilitato',
          sortable: true
        },
        {
          name: 'actions',
          align: 'right',
          label: 'AZIONI'
        }
      ],
      filter: '',
      show: false
    }
  },
  mounted () {
    this.getData()
    this.getAtenei()
  },
  methods: {
    setToggle (data) {
      if (data) return 'Attivo'
      return 'Bloccato'
    },
    setToggle2 (data) {
      if (data) return 'Può accedere agli Ordini'
      return 'Non può accedere agli Ordini'
    },
    getData () {
      this.$api.get('admin/utenti/utenti')
        .then(results => { this.dati = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura Richieste! ' + error,
            color: 'red'
          })
        })
    },
    getAtenei () {
      this.$api.get('enti/atenei')
        .then(results => { this.atenei = results })
        .catch(error => {
          this.$q.notify({
            message: 'Errore lettura Enti! ' + error,
            color: 'red'
          })
        })
    },
    openActions (data) {
      this.sourceDetail = Object.assign({}, data)
      this.show = true
    },
    formatDate (val) {
      return date.formatDate(val, 'DD/MM/YY - HH:mm')
    },
    formatBool (val) {
      if (val === true) {
        return 'si'
      } else {
        return 'no'
      }
    },
    save () {
      this.updateUtente()
    },
    updateUtente () {
      if (this.sourceDetail.abilitato) {
        this.$api.post('admin/utenti/aggiorna_utente', {
          ente_id: this.sourceDetail.ente_id,
          utente_id: this.sourceDetail.utente_id,
          fl_ordini: this.sourceDetail.fl_ordini,
          abilitato: this.sourceDetail.abilitato,
          notifyUser: this.notifyUser
        }).then(data => {
          this.show = false
          this.notifyUser = false
          this.getData()
        })
      } else {
        this.$api.post('admin/utenti/aggiorna_utente', {
          ente_id: this.sourceDetail.ente_id,
          utente_id: this.sourceDetail.utente_id,
          fl_ordini: this.sourceDetail.fl_ordini,
          abilitato: this.sourceDetail.abilitato
        }).then(data => {
          this.show = false
          this.notifyUser = false
          this.getData()
        })
      }
    },
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== undefined ? formatFn(val) : val

      formatted =
        formatted === undefined || formatted === null ? '' : String(formatted)

      formatted = formatted.split('"').join('""')

      return `"${formatted}"`
    },
    exportTable () {
      const index = this.columns
        .map(function (item) {
          return item.name
        })
        .indexOf('actions')

      const tempColumns = Array.from(this.columns)
      if (index !== -1) {
        tempColumns.splice(index)
      }

      const tempDati = this.dati.map(function (elem) {
        return {
          nome: elem.nome,
          mail: elem.mail,
          ateneo: elem.ateneo,
          data_registrazione: elem.data_registrazione,
          abilitato: elem.abilitato ? 'Chiuso' : 'Nuovo'
        }
      })

      const content = [tempColumns.map(col => this.wrapCsvValue(col.label))]
        .concat(
          tempDati.map(row =>
            tempColumns
              .map(col =>
                this.wrapCsvValue(
                  typeof col.field === 'function'
                    ? col.field(row)
                    : row[col.field === undefined ? col.name : col.field],
                  col.format
                )
              )
              .join(',')
          )
        )
        .join('\r\n')

      const status = exportFile('Utenti.csv', content, 'text/csv')

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    }
  }
}
</script>
